spring:
  application:
    name: wfprev
    baseUrl: ${WFPREV_BASE_URL}
  datasource:
    url: ${WFPREV_DATASOURCE_URL}
    username: ${WFPREV_DATASOURCE_USERNAME}
    password: ${WFPREV_DATASOURCE_PASSWORD}
    tomcat:
      initial-size: 15
      max-wait: 20000
      max-active: 50
      max-idle: 15
      min-idle: 8
      testWhileIdle: true
      testOnBorrow: true
      validationQuery: SELECT 1
  jpa:
    show-sql: true
    properties:
      hibernate:
        enable_lazy_load_no_trans: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        bytecode:
          provider: bytebuddy
        show_sql: true
        format_sql: false
  lambda:
    gdbExtractorFunctionName: ${WFPREV_GDB_FUNCTION_NAME}

wfdm:
  restUrl: ${WFDM_BASE_URL}

logging:
  level:
    root: INFO
    org:
      springframework.web.servlet.mvc.method.annotation.StreamingResponseBodyReturnValueHandler: DEBUG
      hibernate.SQL: WARN
      hibernate.type.descriptor.sql.BasicBinder: WARN
      apache.poi: WARN

  pattern:
    console: "%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [%thread] %logger{40} - %msg%n%wEx"

  file:
    name: logs/wfprev-api.log

management:
  endpoints:
    web:
      exposure:
        include: health,info,auditevents,beans,heapdump,logfile,metrics,scheduledtasks,threaddump
  endpoint:
    health:
      show-details: always
      group:
        custom:
          include: diskSpace,ping
          show-components: WHEN_AUTHORIZED
          show-details: WHEN_AUTHORIZED

security:
  oauth:
    clientId: ${WFPREV_CLIENT_ID}
    clientSecret: ${WFPREV_CLIENT_SECRET}
    checkTokenUrl: ${WEBADE_OAUTH2_CHECK_TOKEN_URL}
    authTokenUrl: ${WEBADE_OAUTH2_CHECK_AUTHORIZE_URL}

server:
  forward-headers-strategy: framework
  servlet:
    context-path: /wfprev-api