<button class="download-button" mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()"
  [disabled]="isDisabled()">
  <img class="action-icon" alt="actions" src="/assets/download.svg" />
  <span>Download</span>
  <img class="action-icon" alt="actions" src="/assets/dropdown-icon.svg" />
</button>

<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item *ngFor="let format of formats" (click)="onDownload(format)">
    {{ format.toUpperCase() }}
  </button>
</mat-menu>