<div class="form-grid">
    <div class="general-updates-container">
        <div class="updates-header">
            <div class="updates-header-title">
                <p>General Updates (Successes, Challenges, Progress)</p>
            </div>
            <div class="submitted-by">
                <p>Submitted By: {{update.submittedBy}}</p>
            </div>
        </div>
        <div>
            <p>{{update.generalUpdateComment}}</p>
        </div>
    </div>
    <div class="budget-adjustment-container">
        <div class="budget-adjustment-header">
            <div class="budget-adjustment-title">
                <span>Budget Adjustment</span>
            </div>
            <div class="badges-section">
                @if(update.forecastAdjustmentAmount < 0){ <wfprev-status-badge type="forecast-decreased">
                    </wfprev-status-badge>
                    }
                    @if(update.forecastAdjustmentAmount > 0){
                    <wfprev-status-badge type="forecast-increased"></wfprev-status-badge>
                    }
            </div>
        </div>
        <div class="budget-adjustment-details">
            <div class="budget-adjustment-item">
                <p class="budget-title">Revised Forecast Amount</p>
                <p>{{update.forecastAmount | currency}}</p>
            </div>
            <div class="budget-adjustment-item">
                <p class="budget-title">Forecast Adjustment Amount</p>
                <p>{{update.forecastAdjustmentAmount | currency}}</p>
            </div>
            <div class="budget-adjustment-item">
                <p class="budget-title">Forecast Adjustment Rationale</p>
                <p>{{update.forecastAdjustmentRationale}}</p>
            </div>
        </div>
    </div>
    <div class="budget-breakdown-container">
        <div class="budget-breakdown-header">
            <p>Budget Risk Breakdown</p>
        </div>
        <div class="budget-breakdown-table">
            <div class="budget-breakdown-row">
                <div class="budget-breakdown-cell1">
                    <wfprev-status-badge type="risk-high"></wfprev-status-badge>
                </div>
                <div class="budget-breakdown-cell2">
                    <p>{{update.budgetHighRiskAmount | currency}}</p>
                </div>
                <div class="rationale-cell">
                    <p>{{update.budgetHighRiskRationale}}</p>
                </div>
            </div>
            <div class="budget-breakdown-row">
                <div class="budget-breakdown-cell1">
                    <wfprev-status-badge type="risk-medium"></wfprev-status-badge>
                </div>
                <div class="budget-breakdown-cell2">
                    <p>{{update.budgetMediumRiskAmount | currency}}</p>
                </div>
                <div class="rationale-cell">
                    <p>{{update.budgetMediumRiskRationale}}</p>
                </div>
            </div>
            <div class="budget-breakdown-row">
                <div class="budget-breakdown-cell1">
                    <wfprev-status-badge type="risk-low"></wfprev-status-badge>
                </div>
                <div class="budget-breakdown-cell2">
                    <p>{{update.budgetLowRiskAmount | currency}}</p>
                </div>
                <div class="rationale-cell">
                    <p>{{update.budgetLowRiskRationale}}</p>
                </div>
            </div>
            <div class="budget-breakdown-row">
                <div class="budget-breakdown-cell1">
                    <wfprev-status-badge type="risk-none"></wfprev-status-badge>
                </div>
                <div class="budget-breakdown-cell2">
                    <p>{{update.budgetCompletedAmount | currency}}</p>
                </div>
                <div class="rationale-cell">
                    <p>{{update.budgetCompletedDescription}}</p>
                </div>
            </div>
            <div class="budget-breakdown-last-row">
                <div class="budget-breakdown-cell1">
                    <p>Total:</p>
                </div>
                <div class="budget-breakdown-cell2">
                    <p>{{update.totalAmount | currency}}</p>
                </div>
            </div>
        </div>
    </div>
</div>