schemaspy/schemaspy-output
htmlReport/
/target
/.vscode
/.idea
/.mvn/*
!/.mvn/wrapper/
!/.mvn/wrapper/maven-wrapper.jar
!/.mvn/wrapper/maven-wrapper.properties
/.sonarlint
**/.env
**/.env.*
.DS_Store
**/.DS_Store
yarn.lock
.terraform
.terraform.lock.hcl

**/.npmrc
