<div class="form-item full-width">
  <label class="textarea-label">
    {{ label }}
    @if (required) {
      <span class="required">*</span>
    }
  </label>
  <textarea
    [formControl]="control"
    [rows]="rows"
    [placeholder]="placeholder"
    cdkTextareaAutosize
    #autosize="cdkTextareaAutosize"
    (input)="onInput($event)"
    (paste)="onPaste($event)"
    [attr.maxlength]="maxLength"
    [ngClass]="{ 'over-limit': isOverLimit }"
  ></textarea>

  @if (control.touched && control.invalid) {
    <div class="feedback-row">
      <div class="error">
        {{ message.requiredField }}
      </div>
    </div>
  }

  @if (maxLength; as limit) {
    <div class="feedback-row">
      <div class="error" [class.invisible]="!isOverLimit">
        {{ message.maxLengthExceeded }}
      </div>
      <div class="counter" [ngClass]="{ over: isOverLimit }">
        {{ charCount }} / {{ limit }}
      </div>
    </div>
  }
</div>
