:host {
  font-family: var(--wf-font-family-main) !important;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  
  label {
    color: #282828;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 8px;
  }

  textarea {
    padding: 8px;
    font-family: inherit;
    font-size: 16px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    resize: vertical;
    padding: 6px;
    padding-bottom: 16px;
    &.over-limit {
      border-color: var(--wf-colour-error);
      &:focus {
        outline: none;
        border-color: var(--wf-colour-error);
      }
    }
  }

  .feedback-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
    font-size: 14px;
  }

  .warning-icon{
    vertical-align: bottom;
  }
  
  .error {
    color: var(--wf-colour-error);
    font-size: 14px;
    margin-top: 4px;
    &.invisible {
      visibility: hidden;
    }
  }

  .counter {
    margin-top: 4px;
    font-size: 14px;
    color: #9F9D9C;
    text-align: right;
    font-weight: 400;
    &.over {
      color: var(--wf-colour-error);
    }
  }
}

.required {
  color: var(--wf-colour-error);
}
