<mat-expansion-panel class="expansion-panel fiscals-container" [expanded]="isExpanded"
  (expandedChange)="expandedChange.emit($event)">
  <mat-expansion-panel-header class="activity-header">
    <wfprev-activity-header [isExpanded]="isExpanded" [title]="getActivityTitle()"
      [isSpatialAdded]="activity.isSpatialAddedInd"
      [hasOutstandingObligations]="activityForm.getRawValue().outstandingObligationsInd"
      [isCarryForward]="activityForm.getRawValue().isCarryForwardInd"
      [isResultsReportable]="activityForm.getRawValue().isResultsReportableInd"
      [statusCode]="activityForm.getRawValue().activityStatusCode"></wfprev-activity-header>
  </mat-expansion-panel-header>

  <form class="form-grid" [formGroup]="activityForm">
    <div class="first-section">
      <fieldset [disabled]="isReadonly" class="form-fieldset">
        <div class="form-item narrow-width">
          <label>Activity Status</label>
          <select id="activityStatusCode" formControlName="activityStatusCode">
            @for (opt of statusOptions; track opt.value) {
            <option [value]="opt.value">{{ opt.label }}</option>
            }
          </select>
        </div>
      </fieldset>

      <fieldset [disabled]="isReadonly" class="form-fieldset">
        <div class="form-item narrow-width">
          <label>Completed Hectares (Ha)</label>
          <input type="number" id="completedAreaHa" formControlName="completedAreaHa" onfocus="this.select()" />
          @if (getControl('completedAreaHa')?.errors && (getControl('completedAreaHa')?.dirty ||
          getControl('completedAreaHa')?.touched)) {
          <div class="error">
            @if (getControl('completedAreaHa')?.hasError('min')) {
            <span>{{ messages.positiveNumber }}</span>
            }
            @if (getControl('completedAreaHa')?.hasError('max')) {
            <span>{{ messages.maxLengthExceeded }}</span>
            }
          </div>
          }
        </div>

        <div class="form-item narrow-width">
          <label>Reported Spend</label>
          <div class="currency-input">
            <span class="currency-symbol">$</span>
            <input id="reportedSpendAmount" formControlName="reportedSpendAmount" placeholder="0.00"
              [currencyMask]="{align: 'left', prefix: '', inputMode: 1, allowNegative: false}"
              onfocus="this.select()" />
          </div>
          @if (getControl('reportedSpendAmount')?.errors && (getControl('reportedSpendAmount')?.dirty ||
          getControl('reportedSpendAmount')?.touched)) {
          <div class="error">
            @if (getControl('reportedSpendAmount')?.hasError('min')) {
            <span>{{ messages.positiveNumber }}</span>
            }
            @if (getControl('reportedSpendAmount')?.hasError('max')) {
            <span>{{ messages.maxLengthExceeded }}</span>
            }
          </div>
          }
        </div>

        <div class="form-item narrow-width">
          <label>RESULTS Reportable</label>
          <div class="toggle-container">
            <mat-slide-toggle id="isResultsReportableInd" formControlName="isResultsReportableInd"
              (change)="toggleResultsReportable.emit()">
            </mat-slide-toggle>
            <span class="toggle-label">
              {{ activityForm.getRawValue().isResultsReportableInd ? 'Yes' : 'No' }}
            </span>
          </div>
        </div>

      </fieldset>
    </div>

    <fieldset [disabled]="isReadonly" class="form-fieldset">
      <div class="form-item three-columns">
        <label>Activity Base
          @if (activityForm.value?.isResultsReportableInd) {
          <span class="required">*</span>
          }
        </label>
        <select id="silvicultureBaseGuid" formControlName="silvicultureBaseGuid">
          <option value="">Select</option>
          @for (item of silvicultureBaseCode; track item.silvicultureBaseGuid) {
          <option [value]="item.silvicultureBaseGuid">{{ item.description }}</option>
          }
        </select>
      </div>

      <div class="form-item three-columns">
        <label>Technique</label>
        <select id="silvicultureTechniqueGuid" formControlName="silvicultureTechniqueGuid">
          <option value="">Select</option>
          @for (item of activityForm.get('filteredTechniqueCode')?.value || []; track item.silvicultureTechniqueGuid) {
          <option [value]="item.silvicultureTechniqueGuid">{{ item.description }}</option>
          }
        </select>
      </div>

      <div class="form-item three-columns">
        <label>Method</label>
        <select id="silvicultureMethodGuid" formControlName="silvicultureMethodGuid">
          <option value="">Select</option>
          @for (item of activityForm.get('filteredMethodCode')?.value || []; track item.silvicultureMethodGuid) {
          <option [value]="item.silvicultureMethodGuid">{{ item.description }}</option>
          }
        </select>
      </div>

      <div class="form-item two-columns">
        <label>Activity Name
          @if (!activityForm.value?.isResultsReportableInd) {
          <span class="required">*</span>
          }
        </label>
        <input type="text" id="activityName" formControlName="activityName"
          [readonly]="activityForm.value?.isResultsReportableInd"
          [placeholder]="!activityForm.value?.isResultsReportableInd ? 'Provide a name for non-RESULTS reportable activities' : ''" />
        @if (getControl('activityName')?.errors && (getControl('activityName')?.dirty ||
        getControl('activityName')?.touched)) {
        <div class="error">
          @if (getControl('activityName')?.hasError('maxlength')) {
          <span>{{ messages.maxLengthExceeded }}</span>
          }
        </div>
        }
      </div>

      <div class="form-item two-columns">
        <label>Funding Source Code</label>
        <select id="activityFundingSourceGuid" formControlName="activityFundingSourceGuid">
          <option [value]="null">Select</option>
          @for (item of fundingSourceCode; track item.fundingSourceGuid) {
          <option [value]="item.fundingSourceGuid">{{ item.fundingSourceName }}</option>
          }
        </select>
      </div>

      <div class="form-item wide">
        <label>Activity Start-End Date<span class="required">*</span></label>
        <div class="date-range-container">
          <mat-form-field>
            <mat-date-range-input [rangePicker]="picker" formGroupName="activityDateRange">
              <input matStartDate formControlName="activityStartDate" placeholder="YYYY-MM-DD">
              <input matEndDate formControlName="activityEndDate" placeholder="YYYY-MM-DD">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker panelClass="custom-overlay"></mat-date-range-picker>
          </mat-form-field>
        </div>
      </div>

      <div class="form-item">
        <label>Planned Hectares (Ha)<span class="required">*</span></label>
        <input type="number" id="plannedTreatmentAreaHa" formControlName="plannedTreatmentAreaHa" min="0"
          onfocus="this.select()" />
        @if (getControl('plannedTreatmentAreaHa')?.errors && (getControl('plannedTreatmentAreaHa')?.dirty ||
        getControl('plannedTreatmentAreaHa')?.touched)) {
        <div class="error">
          @if (getControl('plannedTreatmentAreaHa')?.hasError('max')) {
          <span>{{ messages.maxLengthExceeded }}</span>
          }
          @if (getControl('plannedTreatmentAreaHa')?.hasError('min')) {
          <span>{{ messages.positiveNumber }}</span>
          }
        </div>
        }
      </div>

      <div class="form-item">
        <label>Planned Spend</label>
        <div class="currency-input">
          <span class="currency-symbol">$</span>
          <input id="plannedSpendAmount" formControlName="plannedSpendAmount" placeholder="0.00"
            [currencyMask]="{align: 'left', prefix: '', inputMode: 1, allowNegative: false}" onfocus="this.select()" />
        </div>
        @if (getControl('plannedSpendAmount')?.errors && (getControl('plannedSpendAmount')?.dirty ||
        getControl('plannedSpendAmount')?.touched)) {
        <div class="error">
          @if (getControl('plannedSpendAmount')?.hasError('max')) {
          <span>{{ messages.maxLengthExceeded }}</span>
          }
          @if (getControl('plannedSpendAmount')?.hasError('min')) {
          <span>{{ messages.positiveNumber }}</span>
          }
        </div>
        }
      </div>

      <div class="form-item">
        <label>Contract Phase</label>
        <select id="contractPhaseCode" formControlName="contractPhaseCode">
          @for (item of contractPhaseCode; track item.contractPhaseCode) {
          <option [value]="item.contractPhaseCode">{{ item.description }}</option>
          }
        </select>
      </div>

      <div class="form-item full-width">
        <wfprev-textarea [label]="'Activity Description'" [rows]="3" [control]="getControl('activityDescription')"
          [required]="true"
          placeholder="Describe the specific activity being carried out as part of the Fiscal Activity. The information within this activity will be used to support RESULTS at the end of the year.">
        </wfprev-textarea>
      </div>

      <div class="form-item full-width comment-container">
        <div class="checkbox-container">
          <label class="checkbox-label">Carry forward to a future fiscal activity</label>
          <mat-checkbox formControlName="isCarryForwardInd">Yes</mat-checkbox>
        </div>
        <div class="textarea-container">
          <wfprev-textarea [label]="'Final Outcome & Comments (Including Reason for Deferred or Cancelled, $0 spent)'"
            [rows]="3" [maxLength]="500" [control]="getControl('finalOutcomeComments')"
            [required]="activityForm.get('isCarryForwardInd')?.value === true"
            placeholder="If the activity was Deferred or Cancelled, or $0 spent, explain the reason here.">
          </wfprev-textarea>
        </div>
      </div>

      <div class="form-item full-width comment-container">
        <div class="checkbox-container">
          <label class="checkbox-label">Outstanding Obligations</label>
          <mat-checkbox formControlName="outstandingObligationsInd">Yes</mat-checkbox>
        </div>
        <div class="textarea-container">
          <wfprev-textarea
            [label]="'Describe your plan for addressing outstanding obligations and work to be carried-forward:'"
            [rows]="3" [maxLength]="500" [control]="getControl('activityComment')"
            [required]="activityForm.get('outstandingObligationsInd')?.value === true"
            placeholder="List any remaining obligations or deliverables required to complete the activity. (e.g., pile burns, legal obligations, specific remaining tasks)">
          </wfprev-textarea>
        </div>
      </div>
    </fieldset>
  </form>

  <div class="activity-files">
    @if (activityForm.value?.activityGuid && fiscalGuid) {
    <wfprev-project-files [activityGuid]="activityForm.value?.activityGuid" [isReadonly]="isReadonly"
      [fiscalGuid]="fiscalGuid" (filesUpdated)="filesUpdated.emit()">
      {{activityForm.value?.activityGuid}}
    </wfprev-project-files>
    } @else if (index === 0) {
    <wfprev-project-files [activityGuid]="activityForm.value?.activityGuid" [isReadonly]="true"
      [isTooltipDisabled]="false" [fiscalGuid]="fiscalGuid" (filesUpdated)="filesUpdated.emit()">
      {{activityForm.value?.activityGuid}}
    </wfprev-project-files>
    }
  </div>

  <wfprev-timestamp [updateDate]="activity?.lastUpdatedTimestamp"
    [updateUser]="activity?.updateUser"></wfprev-timestamp>

  <div class="project-activity-footer">
    <div class="button-row">
      <div class="delete-container">
        <div class="delete"
          [ngClass]="{ 'delete-inactive': isReadonly || !canDelete, 'delete-active': !isReadonly && canDelete }"
          (click)="(!isReadonly && canDelete) ? delete.emit() : null">
          <img class="status" alt="Delete" [src]="deleteIconUrl">
          <span>Delete</span>
        </div>
      </div>
      <div class="action-buttons">
        <button class="secondary" (click)="cancel.emit()" [disabled]="isReadonly || !isActivityDirty">Cancel</button>
        <button class="primary" [disabled]="isReadonly || !isActivityDirty || !activityForm.valid || isActivitySaving"
          (click)="save.emit()">
          Save
        </button>
      </div>
    </div>
  </div>
</mat-expansion-panel>