<div class="select-field">
  <div class="form-item">
    <label [for]="id">
      {{ label }}@if (required) {
      <span class="required">*</span>
    }
  </label>
  <select
    [formControl]="control"
    [attr.id]="id"
    [matTooltip]="tooltip"
    [disabled]="disabled"
    >
    @if (!required) {
      <option [value]="''">{{ placeholder }}</option>
    }
    @for (item of options; track item) {
      <option [value]="item[optionValueField]">
        {{ item[optionLabelField] }}
      </option>
    }
  </select>
  @if (control.hasError('required') && control.touched) {
    <div class="error">
      This field is required.
    </div>
  }
</div>
</div>