.details-container {
  margin: 19px;
  border-radius: 6px;
  border: 1px solid #C6C8CB;
  overflow: hidden;
  margin-top: 10px;

  .form-grid {
    padding: 18px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;

    .form-item {
      font-family: "BCSans", "Noto Sans", Verdana, Arial, sans-serif !important;
      flex: 1 1 calc(25% - 20px); // 4 items per row with a 20px gap
      min-width: 200px;

      .error {
        color: red;
        font-size: 12px;
        margin: 4px 0 0 8px;
      }

      label {
        padding: 9px;
        color: #474543;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      input,
      select {
        font-family: var(--wf-font-family-main) !important;
        color: #282828;
        font-style: normal;
        font-weight: 400;
        width: 100%;
        margin: 8px 0px;
        font-size: 16px;
        border: none;
        border-bottom: 1px solid #282828;
        outline: none;
        padding: 8px 12px;
        box-sizing: border-box;

        // Add overflow control
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      select {
        -webkit-appearance: none;
        background-image: url('/assets/dropdown-icon.svg');
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 20px 20px;
        padding-right: 30px;

        // Fix option width on open dropdown
        option {
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      option {
        font-family: var(--wf-font-family-main) !important;
      }

      textarea {
        width: 100%;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        resize: vertical;
         &.over-limit {
          border-color: #ef1616;
          &:focus {
            outline: none;
            border-color: #ef1616;
          }
        }
      }
    }

    .full-width {
      flex: 1 1 100%; // Span the entire row
    }

    .form-actions {
      display: flex;
      gap: 10px;
      justify-content: flex-end;

      button {
        padding: 10px 20px;
        font-size: 16px;
      }
    }

    .funding-stream {
      input {
        border-bottom: 1px dashed #282828;
      }
    }

    .objective-group {
      display: flex;
      flex-direction: row;
      gap: 20px;
      width: 100%;
      align-items: stretch;
    }

    .left-fields {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      gap: 20px;
      flex: 1 1 50%;
    }

    .left-fields .form-item {
      min-width: 200px;
    }

    .left-fields .planning-unit {
      grid-column: span 2;
    }

    .left-fields .form-item:nth-child(3) { 
      grid-column: span 2;
    }

    .objective-field {
      min-width: 100px;
      flex: 1 1 calc(25% - 20px);

      @media (max-width: 1024px) {
        flex: 0 0 calc(33.33% - 15px);
      }

      @media (min-width: 950px) and (max-width: 1024px) {
        flex: 0 0 calc(25% - 15px); 
      }

      @media (max-width: 730px) {
        flex: 1 1 calc(25% - 20px)
      }

      @media (max-width: 510px) {
        flex: 0 0 100%; 
      }

      select {
        margin-top: 14px;
      }
    }

    .planning-unit{
      flex: 1 1 50%;
    }

    .secondary-rationale {
      width: 100%;
      min-width: 200px;

      @media (max-width: 1024px) {
        flex: 1 1 100%; // Full width on smaller screens
        max-width: 100%;
      }

      textarea {
        width: 100%;
        min-height: 50px;
        padding: 10px 16px;
        box-sizing: border-box;
        font-size: 16px;
        font-family: var(--wf-font-family-main);
        margin-top: 8px;
      }
    }

  }

}

@media (max-width: 1024px) {
  .form-grid {
    .form-item {
      flex: 1 1 calc(33.33% - 20px); // 3 items per row on medium screens
    }
  }
  .objective-group{
    display: inline-grid !important;
  }
  .left-fields{
    display: inline-grid !important;
  }
}

@media (max-width: 768px) {
  .form-grid {
    .form-item {
      flex: 1 1 calc(50% - 20px); // 2 items per row on small screens
    }
  }
}

@media (max-width: 480px) {
  .form-grid {
    .form-item {
      flex: 1 1 100%; // 1 item per row on very small screens
    }
  }
}

.footer {
  border-top: 1px solid #C7C7C7;
  background: #F2F2F2;
  width: 100vw;
  margin: -18px;
}

.button-row {
  display: flex;
  height: 43px;
  padding: 14px 17px 14px 23px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 14px;
  background: #FFF;

  button {
    font-family: var(--wf-font-family-main);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    height: 40px;
    min-width: 67px;
    padding: 0 16px;
    box-sizing: border-box;
    line-height: 1;
  }

  button.primary {
    background-color: var(--wf-primary-color);
    color: #fff;
    border: none;
  }

  button.primary:disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
  }

  button.secondary {
    border-radius: 4px;
    background: #FFF;
    color: #2D2D2D;
    font-family: var(--wf-font-family-main);
    font-style: normal;
    border: none;
    outline: none;
  }

  button.secondary:focus {
    outline: none;
    box-shadow: none;
  }

  button.secondary:disabled {
    color: #fff;
    background-color: #c0c0c0;
    cursor: not-allowed;
    border: none
  }
}

.description-map-section {
  display: flex;
  width: 100%;
  height: auto;
  gap: 19px;
}

.project-left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 19px;
  background-color: var(--colour-white);

  mat-expansion-panel {
    margin: 0px !important;
    background-color: #FFF;

    ::ng-deep .mat-expansion-panel-body {
      padding: 0;
    }

    ::ng-deep .mat-expansion-indicator {
      display: none;
    }

    .project-title {
      font-family: var(--wf-font-family-main);
      background-color: inherit;
      font-weight: bold;
      display: flex;
      color: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      gap: 10px;
    }
  }

  .project-description {
    .editable-description {
      font-family: inherit;
      font-size: 16px;
      border: none;
      border-top: 1px solid #C6C8CB;
      resize: vertical;
      padding: 6px;
      padding-bottom: 16px;
      width: -webkit-fill-available;
    }
  }

  .project-description-footer {
    border-top: 1px solid #C7C7C7;
    background: #F2F2F2;
  }

  wfprev-fiscal-year-projects {
    margin-top: 20px;
  }
  
  wfprev-evaluation-criteria {
    margin: 20px 0px 20px;
  }
}

.map-section {
  padding-right: 19px;
  flex: 1;
  height: 600px;
  /* Fixed height for the map */
  position: relative;

  /* Ensure positioning context for the map */
  #map {
    height: 100%;
  }
}

.latlong-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  border-top: 1px solid #ccc;
  font-family: var(--wf-font-family-main);
  
  fieldset {
    border: none;
  }


  form {
    display: flex;
    flex-direction: column;
    /* Stack label and input/button container */
    align-items: flex-end;
    gap: 5px;

    label {
      font-weight: bold;
      margin-bottom: 5px;
      /* Add space below the label */
      text-align: right;
      /* Align label text to the right */
    }

    .input-group {
      display: flex;
      /* Align input and button side by side */
      align-items: center;
      /* Vertically center-align the button */
      gap: 10px;
      /* Add space between the input and button */
      font-family: var(--wf-font-family-main);

      input {
        padding: 5px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 300px;
        /* Adjust input width */
        font-family: var(--wf-font-family-main);
      }

      button {
        padding: 10px 18px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        font-family: var(--wf-font-family-main);
      }

      button.primary {
        background-color: var(--wf-primary-color);
        color: #fff;
      }

      button.primary:disabled {
        background-color: #c0c0c0;
        cursor: not-allowed;
      }

    }
  }
}

.required {
  color: #EF1616;
}

:host ::ng-deep wfprev-textarea .textarea-label {
  padding-left: 10px;
}

.project-description .editable-description.over-limit {
  border: 1px solid #ef1616 !important;
  border-radius: 4px;
}

.project-description .editable-description.over-limit:focus {
  outline: none;
  border-color: #ef1616 !important;
}

.feedback-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  margin-top: 4px;
  font-size: 14px;

  .error {
    color: #ef1616;
    font-size: 14px;
    margin-top: 4px;
    &.invisible {
      visibility: hidden;
    }
  }

  .counter {
    margin-top: 4px;
    font-size: 14px;
    color: #9F9D9C;
    text-align: right;
    font-weight: 400;
    &.over {
      color: #ef1616;
    }
  }
}

.warning-icon{
  vertical-align: bottom;
}