<div class="details-container">
    <form [formGroup]="detailsForm" class="form-grid" *ngIf="projectDetail">
      <div class="form-item">
        <label>Project Type<span class="required">*</span></label>
        <select id="projectTypeCode" formControlName="projectTypeCode">
          <option *ngFor="let item of projectTypeCode" [value]="item.projectTypeCode">
            {{ item.description }}
          </option>
        </select>
      </div>
        
      <div class="form-item">
        <label>Funding Stream</label>
        <select id="fundingStream" formControlName="fundingStream">
          <option value="fundingStream1">fundingStream1</option>
          <option value="fundingStream2">fundingStream2</option>
          <option value="fundingStream3">fundingStream3</option>
        </select>
      </div>

      
      <div class="form-item">
        <label>Business/Program Area<span class="required">*</span></label>
        <select id="programAreaGuid" formControlName="programAreaGuid">
          <option *ngFor="let item of programAreaCode" [value]="item.programAreaGuid">
            {{ item.programAreaName }}
          </option>
        </select>
      </div>

      <div class="form-item">
        <label for="projectLead">Project Lead</label>
        <input
          type="text"
          id="projectLead"
          formControlName="projectLead"
          placeholder="Enter Project Lead"
        />
      </div>
  
      <div class="form-item">
        <label for="projectLeadEmailAddress">Contact Email</label>
        <input
          type="email"
          id="projectLeadEmailAddress"
          formControlName="projectLeadEmailAddress"
          placeholder="Enter Email"
        />
      </div>

      <div class="form-item site-unit">
        <label for="siteUnitName">Site Unit(Planning Unit)</label>
        <input
          type="text"
          id="siteUnitName"
          formControlName="siteUnitName"
          placeholder="Enter Site Unit"
        />
      </div>

      <div class="form-item closet-community">
        <label for="closestCommunityName">Closet Community<span class="required">*</span></label>
        <input
          type="text"
          id="closestCommunityName"
          formControlName="closestCommunityName"
          placeholder="Enter Community Name"
        />
      </div>

      <div class="form-item">
        <label>Forest Region</label>
        <select id="forestRegionOrgUnitId" formControlName="forestRegionOrgUnitId">
          <option *ngFor="let item of forestRegionCode" [value]="item.orgUnitId">
            {{ item.orgUnitName }}
          </option>
        </select>
      </div>

      <div class="form-item">
        <label> Forest District </label>
        <select id="forestDistrictOrgUnitId" formControlName="forestDistrictOrgUnitId">
          <option *ngFor="let item of forestDistrictCode" [value]="item.orgUnitId">
            {{ item.orgUnitName }}
          </option>
        </select>
      </div>

      <div class="form-item">
        <label>Primary Objective<span class="required">*</span></label>
        <select id="fundingStream" formControlName="primaryObjective">
          <option value="fundingStream1">Primary Objective1</option>
          <option value="fundingStream2">Primary Objective2</option>
          <option value="fundingStream3">Primary Objective3</option>
        </select>
      </div>

      <div class="form-item">
        <label>Secondary Objective</label>
        <select id="fundingStream" formControlName="secondaryObjective">
          <option value="fundingStream1">Secondary Objective1</option>
          <option value="fundingStream2">Secondary Objective2</option>
          <option value="fundingStream3">Secondary Objective3</option>
        </select>
      </div>

      <div class="form-item secondary-rational">
        <label for="totalFundingRequestAmount">Secondary Objective Rationale</label>
        <input
          type="number"
          id="totalFundingRequestAmount"
          formControlName="secondaryObjectiveRationale"
          placeholder="Enter Secondary Objective Rationale"
        />
      </div>

      <div class="form-item">
        <label> BC Parks Region </label>
        <select id="bcParksRegionOrgUnitId" formControlName="bcParksRegionOrgUnitId">
          <option *ngFor="let item of bcParksRegionCode" [value]="item.orgUnitId">
            {{ item.orgUnitName }}
          </option>
        </select>
      </div>

      <div class="form-item">
        <label>BC Parks Section</label>
        <select id="bcParksSectionOrgUnitId" formControlName="bcParksSectionOrgUnitId">
          <option *ngFor="let item of bcParksSectionCode" [value]="item.orgUnitId">
            {{ item.orgUnitName }}
          </option>
        </select>
      </div>
  
      <div class="footer">
          <div class="button-row">
            <button class="secondary" (click)="onCancel()" [disabled]="!detailsForm.dirty">Cancel</button>
            <button type="button" (click)="onSave()"
              [disabled]="!detailsForm.valid || !detailsForm.dirty"
              class="primary">Save
            </button>
          </div>
        </div>
    </form>
  </div>
  <div class="description-map-section">
    <div class="project-description-container">
        <mat-expansion-panel #panel="matExpansionPanel">
            <mat-expansion-panel-header class="expansion-panel-header">
              <mat-panel-title class="project-title">
                <div class="custom-indicator">
                    <img
                        *ngIf="!panel.expanded"
                        src="/assets/collapsed-indicator.svg"
                        alt="Collapsed Icon"
                        class="indicator-icon"
                    />
                    <img
                        *ngIf="panel.expanded"
                        src="/assets/expanded-indicator.svg"
                        alt="Expanded Icon"
                        class="indicator-icon"
                    />
                </div>
                <span>Project Description</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="project-form">
                <form class="project-description">
                    <textarea
                      [(ngModel)]="projectDescription"
                      name="projectDescription"
                      rows="10"
                      class="editable-description"
                      placeholder="Enter project description"
                      (ngModelChange)="onProjectDescriptionChange($event)"
                    ></textarea>
                <div class="project-description-footer">
                    <div class="button-row">
                        <button class="secondary" (click)="onCancelProjectDescription()" [disabled]="!isProjectDescriptionDirty">Cancel</button>
                        <button class="primary" [disabled]="!isProjectDescriptionDirty" (click)="onSaveProjectDescription()">
                          Save
                        </button>
                    </div>
                    </div>
                </form>
            </div>
        
        
          </mat-expansion-panel>
    </div>
    <div class="map-section">
        <div id="map"></div>
        <div class="latlong-section">
          <form>
            <label for="coordinates">Latitude/Longitude:</label>
            <div class="input-group">
              <input
                type="text"
                id="coordinates"
                [(ngModel)]="latLong"
                name="latLong"
                placeholder="Enter Latitude/Longitude (e.g., 56.9835° N, 127.3656° W)"
                (ngModelChange)="onLatLongChange($event)"
              />
              <button type="button" (click)="onSaveLatLong()"
                [disabled]="!isLatLongDirty"
                class="primary">Save
              </button>
            </div>
          </form>
        </div>
    </div>
  </div>