.details-container {
    margin: 19px;
    border-radius: 6px;
    border: 1px solid #C6C8CB;

    .form-grid {
        padding: 18px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
        
  
      .form-item {
        font-family: "BCSans", "Noto Sans", Verdana, Arial, sans-serif !important;
        flex: 1 1 calc(25% - 20px); // 4 items per row with a 20px gap
        min-width: 200px;
  
        label {
            padding: 9px;
            color: #282828;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
  
        input,
        select{
            font-family: var(--wf-font-family-main) !important;
            color: #282828;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            width: 100%;
            margin: 8px;
            font-size: 14px;
            border: none;
            border-bottom: 1px solid #282828;
            outline: none;
        }

        select{
            -webkit-appearance: none;
            background-image: url('/assets/dropdown-icon.svg');
            background-repeat: no-repeat;
            background-position: right 10px center;
            background-size: 12px;
        }

        option {
          font-family: var(--wf-font-family-main) !important;
        }
        textarea {
          width: 100%;
          margin: 8px;
          font-size: 14px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          resize: vertical;
          min-height: 80px;
        }
      }
  
      .full-width {
        flex: 1 1 100%; // Span the entire row
      }
  
      .form-actions {
        display: flex;
        gap: 10px;
        justify-content: flex-end;
  
        button {
          padding: 10px 20px;
          font-size: 16px;
        }
      }

      .site-unit {
        flex:1 1 20%
      }
      
      .closet-community {
        flex:1 1 20%
      }

      .secondary-rational{
        flex: 1 1 20%; // Set the width to 50% of the row
      }
    }
  }
  
  @media (max-width: 1024px) {
    .form-grid {
      .form-item {
        flex: 1 1 calc(33.33% - 20px); // 3 items per row on medium screens
      }
    }
  }
  
  @media (max-width: 768px) {
    .form-grid {
      .form-item {
        flex: 1 1 calc(50% - 20px); // 2 items per row on small screens
      }
    }
  }
  
  @media (max-width: 480px) {
    .form-grid {
      .form-item {
        flex: 1 1 100%; // 1 item per row on very small screens
      }
    }
  }

  .footer{
    border: 1px solid #C7C7C7;
    background: #F2F2F2;
    width: 100vw;
    margin: -18px;
  }
  
  .button-row{
    display: flex;
    height: 43px;
    padding: 14px 17px 14px 23px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 14px;
    button {
      padding: 12px 32px;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
    }
    
    button.primary {
      background-color: var(--wf-primary-color);
      color: #fff;
    }
    
    button.primary:disabled {
      background-color: #c0c0c0;
      cursor: not-allowed;
    }
    
    button.secondary {
      border-radius: 4px;
      border: 1px solid #234075;
      background: #FFF;
      color: #234075;
      font-family: var(--wf-font-family-main);
      font-style: normal;
    }

    button.secondary:disabled {
      color:#fff;
      background-color: #c0c0c0;
      cursor: not-allowed;
      border:none
    }
  }

  .description-map-section{
    display: flex;
    width: 100%;
    height: auto;
    gap: 19px;
  }

  .project-left-section{
    flex:1;
    display: flex;
    flex-direction: column;
    padding-left: 19px;
    background-color: var(--colour-white);
    mat-expansion-panel {
        border-bottom: 1px solid #C6C8CB;
        margin: 0px !important;
        background-color: #FFF;

        ::ng-deep .mat-expansion-panel-body{
            padding: 0;
        }
    
        .project-title {
            font-family: var(--wf-font-family-main);
            background-color: inherit;
            font-weight: bold;
            display: flex;
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            gap:10px;
        }
      }

      .project-description{
        .editable-description{
            padding:0 16px;
            width: 100%;
            font-size: 16px;
            font-weight: 400;
            border: none;
            color: #242424;
        }
      }

      .project-description-footer{
        border: 1px solid #C7C7C7;
        background: #F2F2F2;
      }
    app-fiscal-year-projects {
        margin-top: 20px; /* Add spacing between project description and fiscal projects */
    }
  }

  .map-section{
    padding-right: 19px;
    flex: 1;
    height: 600px; /* Fixed height for the map */
    position: relative; /* Ensure positioning context for the map */
    #map {
        height: 100%;
    }
  }

  .latlong-section {
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
    padding: 10px;
    border-top: 1px solid #ccc;
  
    form {
      display: flex;
      flex-direction: column; /* Stack label and input/button container */
      align-items: flex-end; 
      gap: 5px;
  
      label {
        font-weight: bold;
        margin-bottom: 5px; /* Add space below the label */
        text-align: right; /* Align label text to the right */
      }
  
      .input-group {
        display: flex; /* Align input and button side by side */
        align-items: center; /* Vertically center-align the button */
        gap: 10px; /* Add space between the input and button */
  
        input {
          padding: 5px;
          font-size: 14px;
          border: 1px solid #ccc;
          border-radius: 4px;
          width: 300px; /* Adjust input width */
        }
  
        button {
          padding: 12px 32px;
          border: none;
          border-radius: 4px;
          font-size: 16px;
          cursor: pointer;
        }
        
        button.primary {
          background-color: var(--wf-primary-color);
          color: #fff;
        }
        
        button.primary:disabled {
          background-color: #c0c0c0;
          cursor: not-allowed;
        }
        
      }
    }
  }

  .required {
    color: #EF1616;
  }