<div class="fiscals-container">
  <div>
    <div class="button-row">
      <button mat-raised-button class="primary new-fiscal-button" (click)="addNewFiscal()" [disabled]="hasUnsavedFiscal">
        <img alt="create-project" class="icon" src="/assets/add-button.svg" width="19" height="19">
        Add New Fiscal
      </button>
    </div>
      <mat-tab-group class="custom-tab-group" *ngIf="projectFiscals?.length; else noFiscals" [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChange($event.index)">
        <mat-tab *ngFor="let fiscal of projectFiscals; let i = index" [label]="fiscal.fiscalYearFormatted || 'New Fiscal'">
          <mat-accordion [multi]="true">
            <mat-expansion-panel [expanded]="true" class="fiscal-expansion-panel">
              <mat-expansion-panel-header>
                <div class="header-container">
                  <span class="project-title">Fiscal Detail</span>
                  <button class="dropdown-button" mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                    <!-- Three-dot menu icon -->
                    <span>Actions</span>
                    <img class="action-icon" alt="actions" src="/assets/dropdown-icon-white.svg">
                  </button>
                </div>
              </mat-expansion-panel-header>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="deleteFiscalYear(fiscalForms[i],i)" [disabled]="isUndeletable(fiscalForms[i])">
                  Delete Fiscal Year
                </button>
                <button mat-menu-item >
                  Add Performance Update
                </button>
                <button mat-menu-item >
                  Closeout Fiscal
              </button>
              </mat-menu>
              <form class="form-grid" *ngIf="fiscalForms[i]" [formGroup]="fiscalForms[i]">

                <div class="form-item">
                  <label>Fiscal Year<span class="required">*</span></label>
                  <select id="fiscalYear" formControlName="fiscalYear">
                    <option *ngFor="let year of fiscalYears" [value]="year.split('/')[0]">{{ year }}</option>
                  </select>
                </div>

                <div class="form-item">
                  <label>Fiscal Name<span class="required">*</span></label>
                  <input type="text" id="projectFiscalName" formControlName="projectFiscalName" />
                </div>

                <div class="form-item">
                  <label>Activity Category<span class="required">*</span></label>
                  <select id="activityCategoryCode" formControlName="activityCategoryCode">
                    <option *ngFor="let item of activityCategoryCode" [value]="item.activityCategoryCode">
                      {{ item.description || 'Select Activity Category' }}
                    </option>
                  </select>
                </div>

                <!-- NEED TO ADD THIS Proposal Type IN API  -->
                <!-- <div class="form-item">
                  <label>Proposal Type<span class="required">*</span></label>
                  <select id="proposalType" formControlName="proposalType">
                    <option [value]="fiscalForms[i]?.value?.proposalType">
                      {{ fiscalForms[i]?.value?.proposalType || 'Select Proposal Type' }}
                    </option>            
                  </select>
                </div> -->

                <div class="form-item">
                  <label>Fiscal Status<span class="required">*</span></label>
                  <select id="planFiscalStatusCode" formControlName="planFiscalStatusCode">
                    <option *ngFor="let item of planFiscalStatusCode" [value]="item.planFiscalStatusCode">
                      {{ item.description || 'Select Fiscal Status' }}
                    </option>
                  </select>
                </div>

                <div class="form-item">
                  <label>Planned Hectares (Ha)</label>
                  <input type="number" id="fiscalPlannedProjectSizeHa" formControlName="fiscalPlannedProjectSizeHa" min="0"/>
                  <div class="error" *ngIf="fiscalForms[i] && fiscalForms[i].get('fiscalPlannedProjectSizeHa')?.hasError('min') 
                    && fiscalForms[i].get('fiscalPlannedProjectSizeHa')?.touched">
                    {{ messages.positiveNumber }}
                  </div>
                </div>

                <div class="form-item">
                  <label>Completed Hectares (Ha)</label>
                  <input type="number" id="fiscalCompletedSizeHa" formControlName="fiscalCompletedSizeHa" min="0"/>
                  <div class="error" *ngIf="fiscalForms[i] && fiscalForms[i].get('fiscalCompletedSizeHa')?.hasError('min') 
                    && fiscalForms[i].get('fiscalCompletedSizeHa')?.touched">
                    {{ messages.positiveNumber }}
                  </div>
                </div>

                <div class="form-item">
                  <label>Results ID</label>
                  <input type="text" id="resultsOpeningId" formControlName="resultsOpeningId" />
                </div>

                <div class="form-item">
                  <label>First Nations Engagement</label>
                  <div class="toggle-container">
                    <mat-slide-toggle 
                      id="firstYearNationsEngagement" 
                      formControlName="firstNationsEngagementInd">
                    </mat-slide-toggle>
                    <span class="toggle-label">
                      {{ fiscalForms[i].value?.firstNationsEngagementInd ? 'Yes' : 'No' }}
                    </span>
                  </div>
                </div>

                <div class="form-item">
                  <label>First Nations Co-Delivery</label>
                  <div class="toggle-container">
                    <mat-slide-toggle 
                      id="firstNationsDelivPartInd" 
                      formControlName="firstNationsDelivPartInd">
                    </mat-slide-toggle>
                    <span class="toggle-label">
                      {{ fiscalForms[i].value?.firstNationsDelivPartInd ? 'Yes' : 'No' }}
                    </span>
                  </div>
                </div>

                <div class="form-item">
                  <label>Name of First Nations Co-Delivery Partners</label>
                  <input type="text" id="firstNationsPartner" formControlName="firstNationsPartner" />
                </div>
                
                <div class="form-item half-width">
                  <label>Description<span class="required">*</span></label>
                  <textarea 
                    id="projectFiscalDescription" 
                    formControlName="projectFiscalDescription" 
                    rows="4" cols="50"
                  >
                  </textarea>
                  <div class="error" *ngIf="fiscalForms[i] && fiscalForms[i].get('projectFiscalDescription')?.hasError('maxlength') 
                    && fiscalForms[i].get('projectFiscalDescription')?.touched">
                    {{ messages.maxLengthExceeded }}
                  </div>
                </div>
                <div class="form-item half-width">
                  <label>Other Partners</label>
                  <input type="text" id="otherPartner" formControlName="otherPartner" />
                </div>
      <!-- Budget Section -->
                <div class="budget-section">
                  <span class="budget-title"> Budget</span>
                  <div class="separator"></div>
                </div>

                <div class="form-item budget-width">
                  <label>Original Cost Estimate</label>
                  <input type="number" id="totalCostEstimateAmount" min="0"
                    formControlName="totalCostEstimateAmount" />
                  <div class="error" *ngIf="fiscalForms[i] && fiscalForms[i].get('totalCostEstimateAmount')?.hasError('min') 
                    && fiscalForms[i].get('totalCostEstimateAmount')?.touched">
                    {{ messages.positiveNumber }}
                  </div>
  
                </div>
                <div class="form-item budget-width">
                  <label>Forecast Amount</label>
                  <input type="number" id="fiscalForecastAmount" min="0"
                    formControlName="fiscalForecastAmount"
                    />
                  <div class="error" *ngIf="fiscalForms[i] && fiscalForms[i].get('fiscalForecastAmount')?.hasError('min') 
                    && fiscalForms[i].get('fiscalForecastAmount')?.touched">
                    {{ messages.positiveNumber }}
                  </div>
                </div>

                <div class="form-item budget-width">
                  <label>CFS Code</label>
                  <input type="text" id="cfsProjectCode" formControlName="cfsProjectCode"/>
                </div>

                <div class="form-item budget-width">
                  <label>Ancillary Funding Provider</label>
                  <select id="ancillaryFundingSourceGuid" formControlName="ancillaryFundingSourceGuid">
                    <option [ngValue]="''">Select</option> 
                    <option *ngFor="let item of ancillaryFundingSourceCode"[value]="item.ancillaryFundingSourceGuid">
                      {{ item.fundingSourceName }}
                    </option>
                  </select>
                </div>

                <div class="form-item budget-width">
                  <label>Ancillary Funding Amount</label>
                  <input type="number" id="fiscalAncillaryFundAmount" formControlName="fiscalAncillaryFundAmount" min="0"/>
                  <div class="error" *ngIf="fiscalForms[i] && fiscalForms[i].get('fiscalAncillaryFundAmount')?.hasError('min') 
                    && fiscalForms[i].get('fiscalAncillaryFundAmount')?.touched">
                    {{ messages.positiveNumber }}
                  </div>
                </div>

                <div class="form-item budget-width">
                  <label>Reported Spend</label>
                  <input type="number" id="fiscalReportedSpendAmount" formControlName="fiscalReportedSpendAmount"/>
                  <div class="error" *ngIf="fiscalForms[i] && fiscalForms[i].get('fiscalReportedSpendAmount')?.hasError('min') 
                    && fiscalForms[i].get('fiscalReportedSpendAmount')?.touched">
                    {{ messages.positiveNumber }}
                  </div>
                </div>

                <div class="form-item cfs-width">
                  <label>CFS Actual Spend</label>
                  <input type="number" id="fiscalActualAmount" formControlName="fiscalActualAmount" min="0"/>
                  <div class="error" *ngIf="fiscalForms[i] && fiscalForms[i].get('fiscalActualAmount')?.hasError('min') 
                    && fiscalForms[i].get('fiscalActualAmount')?.touched">
                    {{ messages.positiveNumber }}
                  </div>
                </div>
              </form>
              <div class="fiscal-footer">
                <div class="footer-button-row">
                  <button class="secondary" (click)="onCancelFiscal(i)" *ngIf="fiscalForms[i]" [disabled]="!fiscalForms[i].dirty">
                    Cancel
                  </button>
                  <button type="button" (click)="onSaveFiscal(i)" *ngIf="fiscalForms[i]" [disabled]="!fiscalForms[i].valid || !fiscalForms[i].dirty"
                    class="primary">
                    Save
                  </button>
                </div>
              </div>
            </mat-expansion-panel>
            <div class="activities-map-container">
              <app-activities class="activities-panel" [fiscalGuid]="currentFiscalGuid"></app-activities>
              <app-fiscal-map class="fiscal-map-panel" *ngIf="selectedTabIndex === i" [fiscalGuid]="selectedTabIndex"></app-fiscal-map>
            </div>
          </mat-accordion>
        </mat-tab>
      </mat-tab-group>
      <ng-template #noFiscals>
        <div class="no-fiscals">
          No Fiscal Years have been added. 
        </div>
      </ng-template>
  </div>
</div>
