<div class="fiscals-container">
  <div>
    <div class="button-row">
      <button mat-raised-button class="primary new-fiscal-button" (click)="addNewFiscal()">
        <img alt="create-project" class="icon" src="/assets/add-button.svg" width="19" height="19">
        Add New Fiscal
      </button>
    </div>
      <mat-tab-group class="custom-tab-group" *ngIf="projectFiscals?.length" [(selectedIndex)]="selectedTabIndex">
        <mat-tab *ngFor="let fiscal of projectFiscals; let i = index" [label]="fiscal.fiscalYearFormatted || 'New Fiscal'">
          <mat-expansion-panel [expanded]="true" class="fiscal-expansion-panel">
            <mat-expansion-panel-header>
              <div class="header-container">
                <span class="project-title">Fiscal Detail</span>
                <button class="dropdown-button" mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                  <!-- Three-dot menu icon -->
                   <span>Actions</span>
                   <img class="action-icon" alt="actions" src="/assets/dropdown-icon-white.svg">
                </button>
              </div>
            </mat-expansion-panel-header>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                 Delete Fiscal Year
              </button>
              <button mat-menu-item >
                 Add Performance Update
              </button>
              <button mat-menu-item >
                Closeout Fiscal
             </button>
            </mat-menu>
            <form class="form-grid" [formGroup]="fiscalForms[i]">

              <div class="form-item">
                <label>Fiscal Year<span class="required">*</span></label>
                <select id="fiscalYear" formControlName="fiscalYear">
                  <option *ngFor="let year of fiscalYears" [value]="year.split('/')[0]">{{ year }}</option>
                </select>
              </div>

              <div class="form-item">
                <label>Fiscal Name<span class="required">*</span></label>
                <input type="text" id="projectFiscalName" formControlName="projectFiscalName" />
              </div>

              <div class="form-item">
                <label>Activity Category<span class="required">*</span></label>
                <select id="activityCategoryCode" formControlName="activityCategoryCode">
                  <option *ngFor="let item of activityCategoryCode" [value]="item.activityCategoryCode">
                    {{ item.description || 'Select Activity Category' }}
                  </option>
                </select>
              </div>

              <!-- NEED TO ADD THIS Proposal Type IN API  -->
              <!-- <div class="form-item">
                <label>Proposal Type<span class="required">*</span></label>
                <select id="proposalType" formControlName="proposalType">
                  <option [value]="fiscalForms[i]?.value?.proposalType">
                    {{ fiscalForms[i]?.value?.proposalType || 'Select Proposal Type' }}
                  </option>            
                </select>
              </div> -->

              <div class="form-item">
                <label>Fiscal Status<span class="required">*</span></label>
                <select id="planFiscalStatusCode" formControlName="planFiscalStatusCode">
                  <option *ngFor="let item of planFiscalStatusCode" [value]="item.planFiscalStatusCode">
                    {{ item.description || 'Select Fiscal Status' }}
                  </option>
                </select>
              </div>

              <div class="form-item">
                <label>Planned Hectares</label>
                <input type="text" id="fiscalPlannedProjectSizeHa" formControlName="fiscalPlannedProjectSizeHa" />
              </div>

              <div class="form-item">
                <label>Completed Hectares</label>
                <input type="text" id="fiscalCompletedSizeHa" formControlName="fiscalCompletedSizeHa" />
              </div>

              <div class="form-item">
                <label>Results ID</label>
                <input type="text" id="resultsOpeningId" formControlName="resultsOpeningId" />
              </div>

              <div class="form-item">
                <label>First Nations Engagement</label>
                <div class="toggle-container">
                  <mat-slide-toggle 
                    id="firstYearNationsEngagement" 
                    formControlName="firstNationsEngagementInd">
                  </mat-slide-toggle>
                  <span class="toggle-label">
                    {{ fiscalForms[i].value?.firstNationsEngagementInd ? 'Yes' : 'No' }}
                  </span>
                </div>
              </div>

              <div class="form-item">
                <label>First Nations Co-Delivery</label>
                <div class="toggle-container">
                  <mat-slide-toggle 
                    id="firstNationsDelivPartInd" 
                    formControlName="firstNationsDelivPartInd">
                  </mat-slide-toggle>
                  <span class="toggle-label">
                    {{ fiscalForms[i].value?.firstNationsDelivPartInd ? 'Yes' : 'No' }}
                  </span>
                </div>
              </div>

              <div class="form-item">
                <label>Name of First Nations Co-Delivery Partners</label>
                <input type="text" id="firstNationsPartner" formControlName="firstNationsPartner" />
              </div>
              
              <div class="form-item half-width">
                <label>Description<span class="required">*</span></label>
                <textarea id="projectFiscalDescription" formControlName="projectFiscalDescription" rows="4" cols="50"></textarea>
              </div>
              <div class="form-item half-width">
                <label>Other Partners</label>
                <input type="text" id="otherPartner" formControlName="otherPartner" />
              </div>
    <!-- Budget Section -->
              <div class="budget-section">
                <span class="budget-title"> Budget</span>
                <div class="separator"></div>
              </div>

              <div class="form-item budget-width">
                <label>Original Cost Estimate</label>
                <input type="number" id="totalCostEstimateAmount" 
                  formControlName="totalCostEstimateAmount" />
              </div>

              <div class="form-item budget-width">
                <label>Forecast Amount</label>
                <input type="Cost" id="fiscalForecastAmount" 
                  formControlName="fiscalForecastAmount"/>
              </div>

              <div class="form-item budget-width">
                <label>CFS Code</label>
                <input type="text" id="cfsProjectCode" formControlName="cfsProjectCode"/>
              </div>

              <div class="form-item budget-width">
                <label>Ancilliary Funding Provider</label>
                <select id="ancillaryFundingSourceGuid" formControlName="ancillaryFundingSourceGuid">
                  <option value="" >Select</option>
                  <option *ngFor="let item of ancillaryFundingSourceCode"[value]="item.ancillaryFundingSourceGuid">
                    {{ item.fundingSourceName || 'Select' }}
                  </option>
                </select>
              </div>

              <div class="form-item budget-width">
                <label>Ancilliary Funding Amount</label>
                <input type="Cost" id="fiscalAncillaryFundAmount" formControlName="fiscalAncillaryFundAmount"/>
              </div>

              <div class="form-item budget-width">
                <label>Reported Spend</label>
                <input type="Cost" id="fiscalReportedSpendAmount" formControlName="fiscalReportedSpendAmount"/>
              </div>

              <div class="form-item cfs-width">
                <label>CFS Actual Spend</label>
                <input type="Cost" id="fiscalActualAmount" formControlName="fiscalActualAmount"/>
              </div>
            </form>
            <div class="fiscal-footer">
              <div class="footer-button-row">
                <button class="secondary" (click)="onCancelFiscal()" [disabled]="!fiscalForms[i].dirty" >Cancel</button>
                <button type="button" (click)="onSaveFiscal(i)" [disabled]="!fiscalForms[i].valid || !fiscalForms[i].dirty"
                  class="primary">Save
                </button>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-tab>
      </mat-tab-group>
  </div>
</div>
