.error-message-container {
    display: flex;
    padding: 16px 24px;
    gap: 8px;

    width: 640px;
    border-radius: 4px;
    border: 1px solid #CE3E39;
    background: #F4E1E2;

    .danger-img, .close-message {
        padding-top: 4px;
    }

    .error-message-content {
        display: flex;
        flex-direction: column;

        gap: 8px;

        font-family: var(--wf-font-family-main);
        font-size: 16px;
        font-style: normal;
        line-height: 27.008px;
        color: #474543;
        font-weight: 400;

        width: 100%;
        height: 100%;

        h4 {
            color: #2D2D2D;
            font-weight: 700;
            margin: 0;
        }

        p {
            margin: 0;
        }

        .control {
            display: flex;
            justify-content: flex-end;
            min-height: 100%;

            button {
                color: #CE3E39;
                text-align: center;

                height: 32px;
                padding: 8px 16px;
                border-radius: 4px;
                border: 1px solid #CE3E39;
                background: #FFF;
            }
        }

        .reason-list {

        }
    }
}