.activity-list-title {
  font-family: var(--wf-font-family-main);
  font-size: 14px;
  padding: 15px 0 8px 24px;
  background-color: #fff;
  font-weight: 400;
}

.activity-items {
  background-color: #f9f9f9;
  margin: 0 -24px -18px;
  padding: 8px 24px 18px;
}

.no-activities-text {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  padding-left: 23px;
  margin-top: -4px;
}