@use 'src/styles/variables';

:host {
  display: block;
  flex: 1;
}

.icon-display-field {
  display: flex;
  align-items: center;
  background: variables.$colour-light-blue-grey;
  border-radius: 10px;
  padding: 8px 16px;
  gap: 12px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;

  .icon-circle {
    width: 32px;
    height: 32px;
    background: variables.$colour-medium-blue-grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    .field-icon {
      color: variables.$colour-primary-blue;
      font-size: 20px;
      width: 20px;
      height: 20px;
    }

    .field-image-icon {
      width: 18px;
      height: 18px;
    }
  }

  .field-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .field-label {
      font-size: 12px;
      font-weight: 400;
      color: variables.$colour-medium-dark-grey;
      line-height: normal;
    }
    .field-val {
      font-size: 14px;
      font-weight: 700;
      color: variables.$colour-charcoal;
      line-height: normal;
      margin-top: 2px;
    }
  }
}

