<div>
    <div class="project-title">
        <span>{{projectName}}</span>
    </div>
    <mat-tab-group class="custom-tab-group" (selectedTabChange)="onTabChange($event)">
        <!-- Details Tab -->
        <mat-tab label="Details">
            <div class="details-tab">
                <app-project-details (projectNameChange)="projectName = $event"></app-project-details>
            </div>
        </mat-tab>
    
        <!-- Fiscals Tab -->
        <mat-tab label="Fiscal Years">
            <div class="fiscals-tab">
                <ng-container #fiscalsContainer></ng-container>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>