<div>
    <div class="project-title">
        <span>{{projectName}}</span>
    </div>
    <mat-tab-group class="custom-tab-group">
        <!-- Details Tab -->
        <mat-tab label="Details">
            <div class="details-tab">
            <p>Details Section</p>
            </div>
        </mat-tab>
    
        <!-- Fiscals Tab -->
        <mat-tab label="Fiscals">
            <div class="fiscals-tab">
            <p>Fiscals Section</p>
            </div>
        </mat-tab>
    
        <!-- Documents Tab -->
        <mat-tab label="Documents">
            <div class="documents-tab">
            <p>Documents Section</p>
            </div>
        </mat-tab>
    
        <!-- History Tab -->
        <mat-tab label="History">
            <div class="history-tab">
            <p>History Section</p>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>