.shared-icon-button {
  cursor: pointer;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 4px;
  background: #013366;
  border: none;
  font-family: "BCSans", "Noto Sans", Verdana, Arial, sans-serif;

  .icon {
    vertical-align: text-bottom;
    padding-right: 5px;
  }

  .button-text {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  &:disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
  }
}

:host-context(.new-update) .shared-icon-button,
:host-context(.add-activity) .shared-icon-button {
  width: 153px;
  height: 40px;
}