.form-grid {
  padding: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #D9D9D9;
}

.form-item {
  font-family: "BCSans", "Noto Sans", Verdana, Arial, sans-serif !important;
  flex: 0 0 calc(33% - 20px);
}

.form-item.full-width {
  flex: 0 0 100%;
}

.inline-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

.inline-grid .form-item {
  flex: 0 0 calc(33% - 16px);
  max-width: 200px;
}

.form-grid ::ng-deep wfprev-textarea textarea {
  height: 80px !important;
}