<button
  class="dropdown-button"
  mat-icon-button
  [matMenuTriggerFor]="menu"
  (click)="$event.stopPropagation()"
  [disabled]="isDisabled()"
>
  <span>Actions</span>
  <img
    class="action-icon"
    alt="actions"
    src="/assets/dropdown-icon-white.svg"
  />
</button>

<mat-menu #menu="matMenu" xPosition="before">
  <!-- DRAFT -->
  @if (status === FiscalStatuses.DRAFT) {
    <button
      mat-menu-item
      [disabled]="!fiscal.projectPlanFiscalGuid || isDirty"
      (click)="emitAction(FiscalStatuses.PROPOSED)"
    >
      {{ FiscalActionLabels.SUBMIT }}
    </button>
  }
  @if (status === FiscalStatuses.DRAFT) {
    <button mat-menu-item (click)="emitAction('DELETE')">
      {{ FiscalActionLabels.DELETE }}
    </button>
  }

  <!-- PROPOSED -->
  @if (status === FiscalStatuses.PROPOSED) {
    <button mat-menu-item (click)="emitAction(FiscalStatuses.DRAFT)">
      {{ FiscalActionLabels.REVERT_TO_DRAFT }}
    </button>
  }
  @if (status === FiscalStatuses.PROPOSED) {
    <button mat-menu-item (click)="emitAction(FiscalStatuses.CANCELLED)">
      {{ FiscalActionLabels.CANCEL_FISCAL }}
    </button>
  }

  <!-- PREPARED -->
  @if (status === FiscalStatuses.PREPARED) {
    <button mat-menu-item (click)="emitAction(FiscalStatuses.DRAFT)">
      {{ FiscalActionLabels.REVERT_TO_DRAFT }}
    </button>
  }
  @if (status === FiscalStatuses.PREPARED) {
    <button mat-menu-item (click)="emitAction(FiscalStatuses.IN_PROGRESS)">
      {{ FiscalActionLabels.SET_IN_PROGRESS }}
    </button>
  }
  @if (status === FiscalStatuses.PREPARED) {
    <button mat-menu-item (click)="emitAction(FiscalStatuses.CANCELLED)">
      {{ FiscalActionLabels.CANCEL_FISCAL }}
    </button>
  }

  <!-- IN_PROGRESS -->
  @if (status === FiscalStatuses.IN_PROGRESS) {
    <button mat-menu-item (click)="emitAction(FiscalStatuses.COMPLETE)">
      {{ FiscalActionLabels.SET_COMPLETE }}
    </button>
  }
  @if (status === FiscalStatuses.IN_PROGRESS) {
    <button mat-menu-item (click)="emitAction(FiscalStatuses.CANCELLED)">
      {{ FiscalActionLabels.CANCEL_FISCAL }}
    </button>
  }
</mat-menu>
