<button
  class="dropdown-button"
  mat-icon-button
  [matMenuTriggerFor]="menu"
  (click)="$event.stopPropagation()"
  [disabled]="isButtonDisabled()">
  <span>Actions</span>
  <img class="action-icon" alt="actions" src="/assets/dropdown-icon-white.svg" />
</button>

<mat-menu #menu="matMenu" xPosition="before">
  @for (action of allowedActions; track action.action) {
    <button
      mat-menu-item
      [disabled]="isActionDisabled(action)"
      [matTooltip]="getActionTooltip(action)"
      matTooltipPosition="left"
      (click)="emitAction(action.action)">
      {{ action.label }}
    </button>
  }
</mat-menu>
