@import '../create-new-project-dialog/create-new-project-dialog.component.scss';

:host {
  font-family: var(--wf-font-family-main) !important;
}

.dialog-container{
  width: 776px !important;
  display: flex;
  flex-direction: column;
}
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  .section-header-title{
    font-family: var(--wf-font-family-main);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
  }

  .section-total-label {
    font-family: var(--wf-font-family-main);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

  }
}

.filter-row {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 8px 0;

  .filter-checkbox {
    flex: 0 0 24px;
  }

  .filter-checkbox input {
    accent-color: #013366;
  }

  .filter-label {
    flex: 1;
    padding-right: 16px;
  }

  .filter-weight {
    font-size: 16px;
    text-align: right;
    font-weight: bold;
    color: var(--wf-colour-light-grey);
  }
}

.filter-row.selected .filter-weight {
  color: black;
}

.total-row {
  font-size: 14px;
  display: flex;
  justify-content: end;
  padding-top: 10px;
  gap: 26px;
  align-items: end;
  .total-value{
    font-size: 16px;
    font-weight: 700;
    border-top: 1px solid #9F9D9C;
    width: 40px;
    text-align: right;
    padding-top: 5px;
  }
}

.notes-row {
  font-size: 14px;
  margin-top: 8px;

  label {
    display: block;
    font-weight: 400;
    margin-bottom: 8px;
  }

  textarea {
    width: 100%;
    resize: vertical;
    border: 1px solid #D9D9D9;
  }
}

.error {
  color: #CE3E39;
  font-size: 14px;
  margin: 4px 0 0 4px;
}

.dialog-content {
  flex: 1 1 auto;
  overflow-y: auto;
}

.dialog-content 
  .form-row{
    flex-wrap: inherit !important;
    width: 100% !important;
    select{
      width: 200px;
    }
}

.coarse-total-value {
  display: flex;
  align-items: end;
  justify-content: flex-end;
  height: 100%;
  font-weight: 700;
}

.section-divider {
  border: none;
  border-bottom: 1px solid #D9D9D9;
  margin: 12px -24px;
}

textarea {
  font-family: var(--wf-font-family-main) !important;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px;
}