<div class="activites-container">
    <mat-expansion-panel [expanded] = 'true' class="expansion-panel">
        <mat-expansion-panel-header>
            <div class="header-container">
                <span class="project-title">Activities</span>
                <button class="dropdown-button" mat-icon-button (click)="$event.stopPropagation()">
                    <img class="action-icon" alt="actions" src="/assets/add-button.svg">
                  <span>Add Activity</span>
                </button>
            </div>
        </mat-expansion-panel-header>
        <div *ngIf="activities?.length">
            <div *ngFor="let activity of activities; let i = index">
                <mat-expansion-panel class="expansion-panel">
                    <mat-expansion-panel-header>
                        <div class="activity-title">
                            {{getActivityTitle(i)}}
                            <div>
                                Last Updated: {{getLastUpdated(i)}}
                            </div>
                        </div>
                    </mat-expansion-panel-header>
                    <form class="form-grid" *ngIf="activityForms[i]" [formGroup]="activityForms[i]">
                        <div class="form-item">
                            <label>Fiscal Year<span class="required">*</span></label>
                          </div>
                    </form>
                </mat-expansion-panel>
            </div>
        </div>
    </mat-expansion-panel>
</div>