@if (fiscal.projectPlanFiscalGuid) {
<wfprev-details-container [title]="'Endorsement and Approval'"
  [saveDisabled]="isSaving || !endorsementApprovalForm.valid || !endorsementApprovalForm.dirty"
  [cancelDisabled]="!endorsementApprovalForm.dirty" (save)="onSave()" (cancel)="onCancel()"
  matTooltip="{{ showDraftTooltip ? draftTooltip : '' }}" [matTooltipDisabled]="!showDraftTooltip">
  <form [formGroup]="endorsementApprovalForm">
    <!-- Endorsement Section -->
    <div class="sub-header">
      BCWS Endorsement
    </div>
    <wfprev-endorsement-approval-section [form]="endorsementApprovalForm" checkboxKey="endorseFiscalActivity"
      dateKey="endorsementDate" commentKey="endorsementComment" [config]="{
            checkboxLabel: 'Endorse Fiscal Activity',
            datepickerLabel: 'Endorsement Date',
            readOnlyLabel: 'Endorsed By',
            readOnlyValue: effectiveEndorserName,
            textareaLabel: 'Endorser\'s Comments',
            textareaPlaceholder: 'Add supporting details for BCWS endorsement decision'
        }" />
    <!-- Approval Section -->
    <div class="sub-header">
      Business Area Approval
    </div>
    <wfprev-endorsement-approval-section [form]="endorsementApprovalForm" checkboxKey="approveFiscalActivity"
      dateKey="approvalDate" commentKey="approvalComment" [config]="{
            checkboxLabel: 'Approve Fiscal Activity',
            datepickerLabel: 'Approval Date',
            readOnlyLabel: 'Approval Entered By',
            readOnlyValue: effectiveApproverName,
            textareaLabel: 'Approver\'s Comments',
            textareaPlaceholder: 'Include position/group(s) responsible for Business Area approval, such as RMT, District Manager(s), etc'
          }" />
    <!-- Approval Section -->
    <div class="sub-header">
      BCWS HQ Approval
    </div>
    <wfprev-endorsement-approval-section [form]="endorsementApprovalForm" checkboxKey="bcwsHQApproveFiscalActivity"
      dateKey="bcwsHQApprovalDate" commentKey="bcwsHQApprovalComment" [config]="{
            checkboxLabel: 'Approve Fiscal Activity',
            datepickerLabel: 'Approval Date',
            readOnlyLabel: 'Approval Entered By',
            readOnlyValue: effectiveBcwsHQApproverName,
            textareaLabel: 'Approver\'s Comments',
            textareaPlaceholder: 'Add supporting details for BCWS approval decision'
          }" />      
    @if (fiscal.endorseApprUpdatedTimestamp && fiscal.endorseApprUpdateUserid) {
    <wfprev-timestamp [updateDate]="fiscal.endorseApprUpdatedTimestamp" [updateUser]="fiscal.endorseApprUpdateUserid">
    </wfprev-timestamp>
    }
  </form>
</wfprev-details-container>
}
