.sub-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  padding: 15px 15px 4px 15px;
}

:host ::ng-deep .header-row {
  padding: 8px 20px;
}

:host ::ng-deep wfprev-timestamp .header-row {
  border-bottom: 1px solid #D9D9D9;
}

:host ::ng-deep wfprev-details-container .details-container {
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  overflow: hidden;
}