<div class="dialog-container">
    <div class="title-bar">
      {{dialogTitle}}
    </div>
    <div class="dialog-content">
      <div class="icon-and-text">
        <img alt="warning-icon" class="icon" src="/assets/warning.svg" />
        <p *ngIf="dialogUsage === 'confirm-cancel'">
            Are you sure you want to cancel?<br />
            This information will not be saved.
          </p>
          <p *ngIf="dialogUsage === 'duplicate-project'">
            This Project already exists:<br />
          </p>
          <p *ngIf="dialogUsage === 'confirm-delete'">
            Are you sure you want to delete this fiscal year?<br />
            This action cannot be undone.
        </p>
      </div>
    </div>
    <div class="footer">
      <div class="button-row">
        <button class="secondary" (click)="onGoBack()">Go Back</button>
        <button class="primary" (click)="onConfirm()">Confirm</button>
      </div>
    </div>
  </div>
  