@import '../create-new-project-dialog/create-new-project-dialog.component.scss';

.dialog-container-confirm {
  .title-bar{
    gap: 8px;
  }
  .dialog-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    .icon-and-text {
      display: flex;
      align-items: center;
      gap: 16px; /* Space between icon and text */
  
      .icon {
        width: 40px;
        height: 40px;
      }
  
      p {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-family: var(--wf-font-family-main);
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.16px;
      }
    }
  }
}

.cancel-button {
  background: none;
  border: none;
  color: #2D2D2D;
  font-weight: 400;
}

.delete-button {
  border: 1px solid #CE3E39 !important;
  color: #CE3E39;
  background: transparent;
  font-weight: 400; 
}

.mask-icon {
  width: 20px;
  height: 20px;
  background-color: #CE3E39; 
  -webkit-mask-image: url('../../../assets/warning-red.svg');
  background-image: url('../../../assets/warning-red.svg');
  mask-image: url('../../../assets/warning-red.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  &.delete {
    background-color: #CE3E39; 
  }

  &.warning {
    background-color: #F8BB47; 
  }
}