<div class="dialog-container">
    <div class="title-bar">
      Confirm Cancel
    </div>
    <div class="dialog-content">
      <div class="icon-and-text">
        <img alt="warning-icon" class="icon" src="../../../assets/warning.svg" />
        <p>
          Are you sure you want to cancel?<br />
          This information will not be saved.
        </p>
      </div>
    </div>
    <div class="footer">
      <div class="button-row">
        <button class="secondary" (click)="onGoBack()">Go Back</button>
        <button class="primary" (click)="onConfirm()">Confirm</button>
      </div>
    </div>
  </div>
  