@import '../styles/variables';

mat-tab-group.wf-sub-tab {
    margin-top: 10px;
    font-family: var(--wf-font-family-main);

    & > .mat-mdc-tab-header {
        border-bottom: none;
        .mat-mdc-tab-labels {
            max-width: 100%;
            overflow-x: auto;
            white-space: nowrap;
            .mat-mdc-tab {
                flex: 0 0 auto !important;
                border-top-left-radius: var(--wf-border-radius);
                border-top-right-radius: var(--wf-border-radius);
                font-size: var(--wf-font-size-emphasis);
                font-family: var(--wf-font-family-main);
                opacity: 1;
                border-width: 1px;
                border-style: solid;
                border-color: var(--wf-colour-light-grey) var(--wf-colour-light-grey) #fff;
                border-bottom: 0;
                background-color: var(--wf-colour-inactive-tab);
                font-weight: var(--wf-font-weight-emphasis);
                max-width: 500px;
                width: auto;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                &:not( :first-child ) {
                    border-left: 0;
                }

                .mdc-tab__text-label {
                    color: #000000de;
                }

                &.mat-mdc-tab-disabled {
                    opacity: 0.5;
                }                
            }

            .mdc-tab--active {
                font-family: var(--wf-font-family-main);
                background-color: var(--wf-colour-active-tab);
                font-weight: var(--wf-font-weight-emphasis-more);
                position: relative;
                border-bottom: none;
                &:after {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -1px;
                    height: 1px;
                    content: '';
                    background-color: white;
                }
            }
        }

        .mat-mdc-tab-header-pagination {
            border-bottom: 1px solid var(--wf-colour-light-grey);
            box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
        }

        .mdc-tab-indicator__content--underline {
            border: none;
        }
    }

    & > .mat-mdc-tab-body-wrapper{
        mat-tab-body {
            font-family: var(--wf-font-family-main);
            // // border-bottom: 1px solid var(--wf-colour-light-grey);
            // border-left: 1px solid var(--wf-colour-light-grey);
            // border-right: 1px solid var(--wf-colour-light-grey);
            // border-radius: 0 0 var(--wf-border-radius) var(--wf-border-radius);

            .tab-top-header {
                display: flex;
                justify-content: flex-end;
                padding: 5px;
            }

            .mat-card:not(.error-panel) {
                padding: 0;
                border-radius: 0;
                box-shadow: none;

                &:not(:last-child) {
                    border-bottom: 1px solid var(--wf-colour-light-grey);
                }
            }

            .table-search-header {
                margin: var(--wf1-gutter-space) var(--wf1-gutter-space) 0 var(--wf1-gutter-space);
            //     border-left: 1px solid var(--wf-colour-light-grey);
            //     border-right: 1px solid var(--wf-colour-light-grey);
            //     border-radius: var(--wf-border-radius);
            }
        }
    }
}



mat-tab-group.wf-basic-tab {
    margin-top: 10px;
    font-family: var(--wf-font-family-main);

    & > .mat-mdc-tab-header {
        border-bottom: none;
        margin-left: var(--wf-gutter);
        margin-right: var(--wf-gutter);

        & > .mat-mdc-tab-label-container > .mat-mdc-tab-list > .mat-mdc-tab-labels {
            gap: calc( 2 * var( --wf1-gutter-space ) );

            & > .mat-mdc-tab {
                padding: 0;
                font-size: var(--wf-font-size-emphasis-enlarge);
                font-family: var(--wf-font-family-main);
                font-weight: var(--wf-font-weight-emphasis);
                opacity: 1;

                .mdc-tab__text-label {
                    color: #000000de;
                }                
            }

            .mdc-tab--active {
                font-family: var(--wf-font-family-main);
                background-color: var(--wf-colour-active-tab);
                color: var(--wf-colour-blue);
                font-weight: var(--wf-font-weight-emphasis-more);
            }
        }

        .mdc-tab-indicator__content--underline {
            border-color: var(--wf-colour-blue);
        }
    }

    & > .mat-tab-body-wrapper{
        mat-tab-body {
            font-family: var(--wf-font-family-main);
        }
    }
}
