<div class="dialog-container">
  <div class="title-bar">
    <span>Create New Project</span>
  </div>
  <form [formGroup]="projectForm">
    <div class="dialog-content">
      <div class="form-row">
        <div class="form-field">
          <label>Project Type<span class="required">*</span></label>
          <select formControlName="projectType">
            <option value="">Select</option>
            <option *ngFor="let type of projectTypes" [value]="type.projectTypeCode">{{ type.description }}</option>
          </select>
        </div>
        <div class="form-field">
          <label for="projectName">Project Name<span class="required">*</span></label>
          <input type="text" id="projectName" formControlName="projectName" placeholder="Begin Typing" [matTooltip]="projectForm.get('projectName')?.value || 'Enter project name'" 
          [matTooltipShowDelay]="0"
          [matTooltipHideDelay]="9999999"
            class="project-input" />
          <div class="error"
            *ngIf="projectForm.get('projectName')?.hasError('maxlength') && projectForm.get('projectName')?.touched">
            {{messages.maxLengthExceeded}}
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-field">
          <label>Business Area<span class="required">*</span></label>
          <select formControlName="businessArea">
            <option value="">Select</option>
            <option *ngFor="let area of businessAreas" [value]="area.programAreaGuid">{{ area.programAreaName }}
            </option>
          </select>
        </div>
        <div class="form-field">
          <label>Forest Region<span class="required">*</span></label>
          <select formControlName="forestRegion">
            <option value="">Select</option>
            <option *ngFor="let region of forestRegions" [value]="region.orgUnitId">{{ region.orgUnitName }}</option>
          </select>
        </div>
        <div class="form-field">
          <label>Forest District</label>
          <select formControlName="forestDistrict">
            <option value="">Select</option>
            <option *ngFor="let district of forestDistricts" [value]="district.orgUnitId">{{ district.orgUnitName }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-field">
          <label>
            BC Parks Region<span class="required" *ngIf="hasValidator('bcParksRegion', Validators.required)">*</span>
          </label>
          <select formControlName="bcParksRegion">
            <option value="">Select</option>
            <option *ngFor="let region of bcParksRegions" [value]="region.orgUnitId">{{ region.orgUnitName }}</option>
          </select>
        </div>
        <div class="form-field">
          <label>BC Parks Section</label>
          <select formControlName="bcParksSection">
            <option value="">Select</option>
            <option *ngFor="let section of bcParksSections" [value]="section.orgUnitId">{{ section.orgUnitName }}
            </option>
          </select>
        </div>
        <div class="form-field">
          <label>BCWS Fire Centre<span class="required">*</span></label>
          <select formControlName="fireCentre">
            <option value="">Select</option>
            <option *ngFor="let item of fireCentres" [value]="item?.properties?.MOF_FIRE_CENTRE_ID">{{
              item?.properties.MOF_FIRE_CENTRE_NAME }}</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-field">
          <label>Closest Community<span class="required">*</span></label>
          <input type="text" formControlName="closestCommunity" placeholder="Begin Typing" class="project-input" />
          <div class="error"
            *ngIf="projectForm.get('closestCommunity')?.hasError('maxlength') && projectForm.get('closestCommunity')?.touched">
            {{messages.maxLengthExceeded}}
          </div>
        </div>
        <div class="form-field">
          <label>Project Lead<span class="required">*</span></label>
          <input type="text" formControlName="projectLead" placeholder="Begin Typing" class="project-input" />
          <div class="error"
            *ngIf="projectForm.get('projectLead')?.hasError('maxlength') && projectForm.get('projectLead')?.touched">
            {{messages.maxLengthExceeded}}
          </div>
        </div>
        <div class="form-field">
          <label>Project Lead Email</label>
          <input type="email" formControlName="projectLeadEmail" placeholder="Begin Typing" class="project-input" />
          <div class="error"
            *ngIf="projectForm.get('projectLeadEmail')?.hasError('email') && projectForm.get('projectLeadEmail')?.touched">
            {{messages.invalidEmail}}
          </div>
          <div class="error"
            *ngIf="projectForm.get('projectLeadEmail')?.hasError('maxlength') && projectForm.get('projectLeadEmail')?.touched">
            {{messages.maxLengthExceeded}}
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-field">
          <label>Lat/Long</label>
          <input type="text" formControlName="latLong" placeholder="Enter Manually or Paste from Clipboard"
            class="project-input" />
          <div class="error"
            *ngIf="projectForm.get('latLong')?.hasError('maxlength') && projectForm.get('latLong')?.touched">
            {{messages.maxLengthExceeded}}
          </div>
        </div>
        <div class="form-field">
          <label>Primary Objective<span class="required">*</span></label>
          <select formControlName="primaryObjective">
            <option value="">Select</option>
            <option *ngFor="let type of objectiveTypes" [value]="type.objectiveTypeCode">{{ type.description }}</option>
          </select>
        </div>
        <div class="form-field">
          <label>Secondary Objective</label>
          <select formControlName="secondaryObjective">
            <option value="">Select</option>
            <option *ngFor="let type of objectiveTypes" [value]="type.objectiveTypeCode">{{ type.description }}</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-field secondary-rationale">
          <label>Secondary Objective Rationale<span class="required">*</span></label>
          <textarea id="secondaryObjectiveRationale" placeholder="Begin Typing"
            formControlName="secondaryObjectiveRationale" rows="1" cdkTextareaAutosize cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="10" class="secondary-rationale"></textarea>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="button-row">
        <button class="secondary" (click)="onCancel()">Cancel</button>
        <button class="primary" [disabled]="!projectForm.valid" (click)="onCreate()">
          Create
        </button>
      </div>
    </div>
  </form>
</div>