<div>
  <app-app-header></app-app-header>
  <div class="create-project-button-row">
    <button class="create-project-button" (click)="createNewProject()">
      <span class="button-text">
        <img alt="create-project" class="icon" src="/assets/add-button.svg">
        Create New Project
      </span>
    </button>
  </div>
  <nav class="nav-class">
    <div>
      <span class="span-class" [class.active]="activeRoute === 'list'" (click)="setActive('list')">
        List
      </span>
    </div>
    <div>
      <span class="span-class" [class.active]="activeRoute === 'map'" (click)="setActive('map')">
        Map
      </span>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
