.title{
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  nav span {
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px;
  }
  
  nav span:hover {
    background-color: #007bff;
    color: white;
  }
  
  nav .active {
    background-color: #0056b3;
    color: white;
  }