@wf1:registry=https://apps.vividsolutions.com/artifactory/api/npm/npm
//registry.npmjs.org/:_authToken=36fa59cd-a580-4444-9d28-aabc9188b196
engine-strict=false
registry=https://bwa.nrs.gov.bc.ca/int/artifactory/api/npm/nrs-virtual-npm/
email=wf1cda01@gov.bc.ca
always-auth=true
strict-ssl=false
//bwa.nrs.gov.bc.ca/int/artifactory/api/npm/nrs-virtual-npm/:_auth="d2YxY2RhMDFAZ292LmJjLmNhOkpMQkk1NTBfSjlhN3k6b29TMV8xYk83bS12R3k="
//registry=https://registry.npmjs.org/
legacy-peer-deps=true
