/* You can add global styles to this file, and also import other style files */
@import 'styles/material';
@import 'material/mat-slide-toggle';
@import 'material/mat-tabs';
@import 'material/mat-checkbox';
@import 'styles/variables';

body {
    margin: 0;
}

.detailed-error-message .mat-mdc-snackbar-surface {
  box-shadow: none !important;
}

.detailed-error-message .mdc-snackbar__label {
  padding: 0 !important;
}

.mat-mdc-snack-bar-container{
  .mdc-snackbar__label{
    color: var(--wf-colour-white);
    font-family: var(--wf-font-family-main) !important;
    font-size: var(--font-size) !important;
    word-break: break-word;
  }
  &.snackbar-success {
    background-color: var(--wf-colour-success);
    color: var(--wf-colour-white);
    position: inherit;
    width: fit-content;
    text-align: center;
    .mat-button-wrapper {
      color: var(--wf-colour-white);
    }
    .mat-mdc-snack-bar-action {
      color: var(--wf-colour-white);
      border: 1px solid var(--wf-colour-white);
      border-radius: 5px;
      .mdc-button__label {
        color: var(--wf-colour-white) !important;
      }
    }
  }
  &.snackbar-error {
    background-color: var(--wf-colour-error);
    color: var(--wf-colour-white);
    position: inherit;
    width: fit-content;
    text-align: center;
    .mat-button-wrapper {
      color: var(--wf-colour-white) !important;
    }
    .mat-mdc-snack-bar-action {
      color: var(--wf-colour-white) !important;
      border: 1px solid var(--wf-colour-white);
      border-radius: 5px;
    }
  }

  &.snackbar-info {
    background-color: var(--wf-colour-info);
    color: black; 
    position: inherit;
    width: fit-content;
    text-align: center;

    .mat-button-wrapper {
      color: black;
    }

    .mat-mdc-snack-bar-action {
      color: black;
      border: 1px solid black;
      border-radius: 5px;

      .mdc-button__label {
        color: black !important;
      }
    }
    .mdc-snackbar__label{
      color: black !important; 
    }
  }

  .mat-mdc-snackbar-surface {
    background-color: inherit !important;
    color: inherit !important;
  }
}

html, body{
    font-family: var(--wf-font-family-main) !important;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

[class^="mat-"],
[class*=" mat-"],
[class^="mdc-"],
[class*=" mdc-"] {
  font-family: var(--wf-font-family-main) !important;
}

mat-icon,
.mat-icon {
  font-family: 'Material Icons' !important;
}

.mat-mdc-tab-body-wrapper {
  height: calc(100vh - 250px) !important
}

.custom-marker-cluster {
  background-color: transparent; /* Remove default background */
}

.cluster-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #5595D9; /* Blue background */
  border-radius: 50%; /* Circular shape */
  color: white; /* White text */
  font-size: 16px; /* Text size */
  font-weight: bold; /* Bold text */
  border: 1px solid black; /* Optional white border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional shadow */
}

.cluster-icon span {
  margin: 0; /* Center text properly */
}

/* Global styles.scss */

.leaflet-control{
  background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 84.96%);
}
.leaflet-control .legend {
  background: white;
  border-radius: 5px;
  line-height: 1.4em;
  font-size: 13px;
  color: #000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: fit-content;
  min-width: 200px;
}

.leaflet-control .legend-title {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  margin-left: 4px;
  margin-bottom: 5px;
  font-family: var(--wf-font-family-main) !important;
}

.leaflet-control .legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  margin-left:4px;
  font-family: var(--wf-font-family-main) !important;
}

.leaflet-control .legend-color {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important;
  padding: 8px 12px;
}