<div class="performance-update-container">
  <mat-expansion-panel [expanded]='true' class="expansion-panel" #performanceUpdatesPanels>
    <mat-expansion-panel-header>
      <div class="header-container">
        <wfprev-expansion-indicator [isExpanded]="performanceUpdatesPanels.expanded"></wfprev-expansion-indicator>
        <span class="project-title">Performance Updates</span>
        <div class="header-buttons">
          <wfprev-icon-button class="add-update" [text]="'Add Update'" [icon]="'/assets/add-button.svg'"
            [alt]="'add-update'" [iconSize]="19" [disabled]="!canCreatePerformanceUpdate" (clicked)="openDialog()">
          </wfprev-icon-button>
          <wfprev-icon-button class="year-end-update" [text]="'Year End Update'" [icon]="'/assets/add-button.svg'"
            [alt]="'year-end-update'" [iconSize]="19" [disabled]="!canCreateYearEndReport"
            (clicked)="navigateToYearEnd()">
          </wfprev-icon-button>
        </div>
      </div>
    </mat-expansion-panel-header>
    @if (isLoading) {
    <div class="spinner-container">
      <mat-progress-spinner mode="indeterminate" diameter="36" color="primary"></mat-progress-spinner>
    </div>
    }@if (!isLoading) {
    <div>
      @if(fiscalCloseout) {
      <mat-expansion-panel class="expansion-panel" #updatePanel>
        <mat-expansion-panel-header class="performance-update-header">
          <wfprev-performance-update-header [fiscalCloseout]="fiscalCloseout" [isExpanded]="updatePanel.expanded">
          </wfprev-performance-update-header>
        </mat-expansion-panel-header>
        <wfprev-year-end-summary [projectGuid]="projectGuid" [fiscalGuid]="fiscalGuid"></wfprev-year-end-summary>
      </mat-expansion-panel>
      }

      @if(updates.length > 0) {
      @for (update of updates; track update.submittedTimestamp; let i = $index) {
      <mat-expansion-panel [expanded]='false' class="expansion-panel" #updatePanel>
        <mat-expansion-panel-header class="performance-update-header">
          <wfprev-performance-update-header [update]="update" [isExpanded]="updatePanel.expanded">
          </wfprev-performance-update-header>
        </mat-expansion-panel-header>
        <wfprev-performance-update-summary [update]="update"></wfprev-performance-update-summary>
      </mat-expansion-panel>
      }
      }

      @if(!fiscalCloseout && updates.length === 0) {
      <div class="wf-empty-state">
        <p class="empty-state-text">No Performance Updates have been added.</p>
      </div>
      }
    </div>
    }
  </mat-expansion-panel>
</div>