@import "../project-fiscals/project-fiscals.component.scss";

.performance-update-container {
    padding-top: 12px;
    margin: 0;

    .expansion-panel:nth-child(even) {
        background-color: #FAF9F8;
    }

    .expansion-panel {
        border: 1px solid #D9D9D9;

        .mat-expansion-panel-header {
            border-bottom: 1px solid #D9D9D9;
            ;
            min-height: 52px !important;
            height: auto !important;
        }

        .dropdown-button {
            cursor: pointer;

            span {
                padding-left: 10px;
            }

            &:disabled {
                background-color: #c0c0c0 !important;
                cursor: not-allowed;
                border: none;
            }
        }
    }

    .performance-update-header {
        ::ng-deep .mat-content {
            gap: 8px;
        }
    }

    .performance-update-title {
        flex-wrap: wrap;
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        word-break: break-word;
        overflow-wrap: break-word;
        white-space: normal;
        align-content: center;
        min-width: 220px;
    }

    .content-status-indicators {
        display: flex;
        align-items: center;
        gap: 10px;
        min-width: 480px;

        span {
            display: flex;

            img {
                display: flex;
                padding: 0px 5px;
            }
        }


        .status-icon {
            width: 24px;
            height: 24px;
        }
    }

    .status-indicators {
        font-size: 16px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        width: 100%;

        .status-tag {
            display: flex;
            padding: 5px 0px;
            align-items: center;
            justify-content: flex-start;
            gap: 5px;
            font-size: 16px;
            width: 150px;

            .status-icon {
                width: 24px;
                height: 24px;
            }
        }
    }

    .form-grid {
        padding: 18px 0px;
        font-family: var(--wf-font-family-main) !important;
        gap: 10px;

        .general-updates-container {
            display: flex;
            flex-direction: column;
            padding: 0px 15px 15px 48px;

            .updates-header {
                display: flex;
                flex-direction: row;

                .updates-header-title {
                    display: flex;
                    flex-grow: 1;
                    font-weight: bold;
                }

                .submitted-by {
                    display: flex;
                    flex-grow: 1;
                    justify-content: flex-end;
                }
            }
        }

        .budget-adjustment-container {
            display: flex;
            flex-direction: column;
            padding: 15px 15px 15px 48px;
            gap: 10px;
            border-top: 1px solid #D9D9D9;

            .budget-adjustment-header {
                display: flex;
                flex-direction: row;

                .budget-adjustment-title {
                    padding-right: 20px;
                    font-weight: bold;
                }

                .budget-adjustment-lable {
                    display: flex;
                    flex-direction: row;
                }
            }

            .budget-adjustment-ditails {
                display: flex;
                flex-direction: row;

                .budget-adjustment-item {
                    padding-right: 20px;

                    .budget-title {
                        font-weight: bold;
                    }
                }
            }
        }

        .budget-breackdown-container {
            display: flex;
            flex-direction: column;
            padding: 15px 15px 15px 48px;
            gap: 10px;
            border-top: 1px solid #D9D9D9;

            .budget-breakdown-header {
                font-weight: bold;
            }

            .budget-breackdown-table {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .budget-breackdown-row {
                    display: flex;
                    flex-direction: row;
                    border-radius: 10px;
                    background-color: #F5F6F9;

                    .budget-breackdown-cell1 {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 5px;
                        padding-left: 12px;
                        width: 130px;
                    }

                    .budget-breackdown-cell2 {
                        padding-left: 8px;
                        width: 110px;
                        font-weight: bold;
                    }
                }

                .budget-breackdown-last-row {
                    display: flex;
                    flex-direction: row;

                    .budget-breackdown-cell1 {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 5px;
                        padding-left: 45px;
                        width: 100px;
                    }

                    .budget-breackdown-cell2 {
                        padding-left: 5px;
                        width: 110px;
                        font-weight: bold;
                    }
                }
            }
        }

    }



}