.resizable-panel {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid #ccc;
  transition: width 0.3s ease;
  width: 50vw;

  ::ng-deep .tab-group {
    flex-grow: 1;
    background: #f5f5f5 !important;
    border: 1px solid #C6C8CB !important;
    

    .mat-mdc-tab-header{
      height: 50px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;

      .mdc-tab__text-label{
        font-family: var(--wf-font-family-main);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
      }

      .mat-mdc-tab{
        border-radius: 6px 6px 0px 0px;
        border: 1px solid #C6C8CB;
        background: #F2F2F2;
        outline: none !important; // Removes the focus outline
        box-shadow: none !important; 
      }
      
      .mdc-tab__content{
        padding: 10px;
      }
      
    }
  }

  .panel-controls {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f5f5f5;

    button {
      padding: 5px 10px;
      background-color: #003366;
      border: none;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}


.mat-mdc-tab-group {
  background-color: white !important;
  .mat-mdc-tab-list{
    background-color: red !important;
  }
}

