.resizable-panel {
    height: 100vh;
    background-color: #fff;
    border-right: 1px solid #ccc;
    transition: width 0.3s ease;
    width: 50vw;
  
    .panel-header {
      background-color: #003366;
      color: white;
      padding: 10px;
      text-align: center;
    }
  
    .panel-content {
      padding: 15px;
      overflow: auto;
      text-align: center;
    }
  
    .panel-controls {
      position: absolute;
      bottom: 10px;
      left: 10px;
      display: flex;
      gap: 10px;
  
      button {
        padding: 5px 10px;
        background-color: #003366;
        border: none;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
  