<div>
  <div class="list-header">
    <!-- Sort Dropdown -->
    <div class="sort-dropdown">
      <label>Sort:</label>
      <select id="sort" (change)="onSortChange($event)">
        <option class="default-option" value="">select</option>
        <option *ngFor="let option of sortOptions" [value]="option.value">{{ option.label }}</option>
      </select>
      <div class="result-count">
            <!-- Result Count -->
        <span>{{ allProjects.length }} Results</span>
      </div>
    </div>
    <div class="create-project-button-container">
      <button class="create-project-button" (click)="createNewProject()">
        <span class="button-text">
          <img alt="create-project" class="icon" src="/assets/add-button.svg">
          Create New Project
        </span>
      </button>
    </div>
  </div>

  <div class="list-contents" (scroll)="handleScroll($event)">
    <mat-accordion>
      
      <mat-expansion-panel *ngFor="let project of displayedProjects?.length ? displayedProjects : []" (click)="highlightProjectPolygons(project)" (opened)="getFiscal(project)" #panel="matExpansionPanel">
        <mat-expansion-panel-header class="expansion-panel-header">
          <mat-panel-title class="project-title">
            <div class="custom-indicator">
              <img
                *ngIf="!panel.expanded"
                src="/assets/collapsed-indicator.svg"
                alt="Collapsed Icon"
                class="indicator-icon"
              />
              <img
                *ngIf="panel.expanded"
                src="/assets/expanded-indicator.svg"
                alt="Expanded Icon"
                class="indicator-icon"
              />
            </div>
            <span class="project-name"> {{ project.projectName }} </span>
            <div class="action-items">
              <div class="action-item" (click)="editProject(project, $event)">
                <img alt="edit-icon" class="icon" src="/assets/edit-icon.svg" />
                <span>Edit</span>
              </div>
            </div>
          </mat-panel-title>
          <div class="divider"></div>
          <div>
            <div class="project-header-details">
              <div class="detail">
                <span>Project Type</span>
                <span class="heavy-font">{{ project.projectTypeCode?.description }}</span>
              </div>
              <div class="detail">
                <span>Business Area</span>
                <span class="heavy-font">{{ getDescription('programAreaCode',project.programAreaGuid) }}</span>
              </div>
              <div class="detail">
                <span>Forest Region</span>
                <span class="heavy-font">{{ stripSuffix(getDescription('forestRegionCode',project.forestRegionOrgUnitId), ' Forest Region') }}</span>
              </div>
            </div>  
          </div>
          
        </mat-expansion-panel-header>
        <div class="project-item-expansion-panel-body">

          <div class="project-header-details-2">
            <div class="detail">
              <span>Forest District</span>
              <span class="heavy-font">{{ stripSuffix(getDescription('forestDistrictCode',project.forestDistrictOrgUnitId), ' Forest District') }}</span>
            </div>
            <div class="detail">
              <span>BC Parks Region</span>
              <span class="heavy-font">{{ getDescription('bcParksRegionCode', project.bcParksRegionOrgUnitId) }}</span>
            </div>
            <div class="detail">
              <span>BC Parks Section</span>
              <span class="heavy-font">{{ getDescription('bcParksSectionCode', project.bcParksSectionOrgUnitId) }}</span>
            </div>
          </div>
          <div *ngIf="project.projectFiscals?.length" class="fiscal-section">
            <div *ngFor="let fiscal of project.projectFiscals" class="fiscal-card">
              <div class="fiscal-card-title">
                <span>{{fiscal.projectFiscalName}}</span>
                <div class="status-container">
                  <ng-container [ngSwitch]="fiscal.planFiscalStatusCode">
                    <img *ngSwitchCase="'DRAFT'" src="/assets/draft-icon.svg" alt="draft" class="status-icon" />
                    <img *ngSwitchCase="'PROPOSED'" src="/assets/proposed-icon.svg" alt="proposed" class="status-icon" />
                    <img *ngSwitchCase="'IN_PROG'" src="/assets/in-progress-icon.svg" alt="in progress" class="status-icon" />
                    <img *ngSwitchCase="'COMPLETE'" src="/assets/complete-icon.svg" alt="completed" class="status-icon" />
                    <img *ngSwitchCase="'ABANDONED'" src="/assets/abandoned-icon.svg" alt="abandoned" class="status-icon" />
                    <img *ngSwitchCase="'PREPARED'" src="/assets/prepared-icon.svg" alt="prepared" class="status-icon" />
                  </ng-container>
                  <span>{{getDescription('planFiscalStatusCode', fiscal.planFiscalStatusCode)}}</span>
                </div>
              </div>
              <div class="fiscal-card-body">
                <div class="fiscal-body-item">
                  <span>Activity Category</span>
                  <span class="fiscal-value wrap-text">{{getDescription('activityCategoryCode',fiscal.activityCategoryCode)}}</span>
                </div>
                <div class="fiscal-body-item" *ngIf="fiscal.fiscalForecastAmount">
                  <span>Forecast Amount</span>
                  <span class="fiscal-value">
                    ${{ (fiscal.fiscalForecastAmount % 1 === 0) ? (fiscal.fiscalForecastAmount | number:'1.0-0') : (fiscal.fiscalForecastAmount | number:'1.2-2') }}
                  </span>
                </div>
                <div class="fiscal-body-item" *ngIf="fiscal.planFiscalStatusCode === 'COMPLETE' && fiscal.fiscalPlannedProjectSizeHa">
                  <span>Planned Hectares</span>
                  <span class="fiscal-value">
                    {{ (fiscal.fiscalPlannedProjectSizeHa % 1 === 0) ? (fiscal.fiscalPlannedProjectSizeHa | number:'1.0-0') : (fiscal.fiscalPlannedProjectSizeHa | number:'1.2-2') }} Ha
                  </span>
                </div>
                <div class="fiscal-body-item" *ngIf="fiscal.fiscalCompletedSizeHa">
                  <span>Completed Hectares</span>
                  <span class="fiscal-value">
                    {{ (fiscal.fiscalCompletedSizeHa % 1 === 0) ? (fiscal.fiscalCompletedSizeHa | number:'1.0-0') : (fiscal.fiscalCompletedSizeHa | number:'1.2-2') }} Ha
                  </span>
                </div>
                <div class="fiscal-body-item" *ngIf="fiscal.planFiscalStatusCode === 'COMPLETE' && fiscal.fiscalActualAmount">
                  <span>CFS Actual Spend</span>
                  <span class="fiscal-value">
                    ${{ (fiscal.fiscalActualAmount % 1 === 0) ? (fiscal.fiscalActualAmount | number:'1.0-0') : (fiscal.fiscalActualAmount | number:'1.2-2') }}
                  </span>
                  <span class="fiscal-value">{{fiscal.fiscalActualAmount | currency:'CAD':'symbol-narrow':'1.2-2'}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

