:host {
  display: block;
  flex: 0 0 calc(50% - 6px);
  max-width: calc(50% - 6px);
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #3470B1;
  padding: 10px 12px;
  background-color: #FFF;
  font-family: var(--wf-font-family-main);
  font-size: 14px;
  color: #474543;
}

.fiscal-header{
    display: flex;
    justify-content: space-between;
}

.fiscal-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.activity-category {
    margin-bottom: 8px;
    border-bottom: 1px solid #D8D8D8;
    margin: 0 -12px;
    padding:0 12px;
}

.fiscal-values{
    padding-top: 4px;
    display: flex;
    .sub-title{
    font-size: 14px;
    font-weight: 400;
    }
    .sub-value{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    }
}