<div class="input-field">
  <div class="form-item">
    @if(img) {
    <div class="input-header">
      <img alt="status" [src]="img">
      <label class="input-header-lable" [for]="id">
        {{ label }}
        <span *ngIf="required" class="required">*</span>
      </label>
    </div>
    } @else {
      <label [for]="id">
        {{ label }}
        <span *ngIf="required" class="required">*</span>
      </label>
    }
    <div class="currency-input" *ngIf="prefix; else plainInput">
      <span class="currency-symbol">{{ prefix }}</span>
      <input
        [id]="id"
        [type]="type"
        [formControl]="control"
        [placeholder]="placeholder"
        [matTooltip]="tooltip || control.value"
      />
    </div>

    <ng-template #plainInput>
      <input
        [id]="id"
        [type]="type"
        [formControl]="control"
        [placeholder]="placeholder"
        [matTooltip]="tooltip || control.value"
      />
    </ng-template>

    <div class="error" *ngIf="(control?.hasError('maxlength') || control?.hasError('max')) && (control?.dirty || control?.touched)">
      {{ errorMessages['maxlength'] }}
    </div>
    
    <div class="error" *ngIf="control?.hasError('email') && (control?.dirty || control?.touched)">
      {{ errorMessages['email'] }}
    </div>
    <div class="error" *ngIf="control?.hasError('min') && (control?.dirty || control?.touched)">
      {{ errorMessages['min'] }}
    </div>
    <div class="error" *ngIf="control?.hasError('duplicate') && (control?.dirty || control?.touched)">
      {{ errorMessages['duplicate'] }}
    </div>
  </div>
</div>