.input-field {
  .required {
    color: var(--wf-colour-error);
  }

  .form-item {
    font-family: "BCSans", "Noto Sans", Verdana, Arial, sans-serif !important;
    flex: 1 1 calc(25% - 20px);
    min-width: 200px;

    .error {
      color: var(--wf-colour-error);
      font-size: 12px;
      margin: 4px 0 0 8px;
    }

    label {
      padding: 9px;
      color: #474543;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .input-header {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      .input-header-lable {
        padding: 0px 9px;
        color: #474543;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    input {
      font-family: var(--wf-font-family-main) !important;
      color: #282828;
      font-style: normal;
      font-weight: 400;
      width: 100%;
      margin: 8px 0;
      font-size: 16px;
      border: none;
      border-bottom: 1px solid #282828;
      outline: none;
      padding: 8px 12px;
      box-sizing: border-box;

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .currency-input {
    position: relative;
    display: flex;
    align-items: center;

    .currency-symbol {
      position: absolute;
      font-size: 16px;
      color: #282828;
      left: 12px;
    }

    input {
      padding-left: 24px !important;
    }
  }
}