<div class="input-field">
  <div class="form-item">
    @if(img) {
      <div class="input-header">
        <img alt="status" [src]="img">
        <label class="input-header-lable" [for]="id">
          {{ label }}
          @if (required) {
            <span class="required">*</span>
          }
        </label>
      </div>
    } @else {
      <label [for]="id">
        {{ label }}
        @if (required) {
          <span class="required">*</span>
        }
      </label>
    }
    @if (inputPrefix) {
      <div class="currency-input">
        <span class="currency-symbol">{{ inputPrefix }}</span>
        @if (!enableAmountFormat) {
          <input
            [id]="id"
            [type]="type"
            [formControl]="control"
            [placeholder]="placeholder"
            [matTooltip]="tooltip || control.value"
            />
        }
        @if (enableAmountFormat) {
          <input [currencyMask]="{align: 'left', prefix: '', inputMode: 1, nullable: true}"
            [id]="id"
            [type]="type"
            [formControl]="control"
            [placeholder]="placeholder"
            [matTooltip]="tooltip || control.value"
            onfocus="this.select()"
            />
        }
      </div>
    } @else {
      <input
        [id]="id"
        [type]="type"
        [formControl]="control"
        [placeholder]="placeholder"
        [matTooltip]="tooltip || control.value"
        onfocus="this.select()"
        />
      }


      @if ((control.hasError('maxlength') || control.hasError('max')) && (control.dirty || control.touched)) {
        <div class="error">
          {{ errorMessages['maxlength'] }}
        </div>
      }

      @if (control.hasError('email') && (control.dirty || control.touched)) {
        <div class="error">
          {{ errorMessages['email'] }}
        </div>
      }
      @if (control.hasError('min') && (control.dirty || control.touched)) {
        <div class="error">
          {{ errorMessages['min'] }}
        </div>
      }
      @if (control.hasError('duplicate') && (control.dirty || control.touched)) {
        <div class="error">
          {{ errorMessages['duplicate'] }}
        </div>
      }
    </div>
  </div>