.status-badge {
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
  font-family: var(--wf-font-family-main);
  font-size: 14px;
  font-weight: 400;

  .badge-icon {
    display: flex;
    align-items: center;
    
    img {
      width: 24px;
      height: 24px;
    }
  }

  .badge-label {
      color: #2D2D2D;
      line-height: normal;
  }
}

:host(.missing-info) {
  .badge-label {
    color: #CE3E39;
  }
}
